<& /Elements/Header, Title=>"Login" , &>
<DIV ALIGN=CENTER>
<& /Elements/TitleBoxStart, width=> "40%", titleright => "RT for $RT::rtname", title => 'Login' ,
contentbg=>"#cccccc" &>
<FORM METHOD=POST >
<TABLE BORDER=0>
<TR ALIGN=RIGHT>
<TD ALIGN=RIGHT>Username:</TD><TD><input name=user value="<%$user%>"></TD></TR>
<TR><TD ALIGN=RIGHT>Password:</TD><TD><input type=password name=pass></TD></TR>
</TABLE>
<BR>
<DIV ALIGN=RIGHT>
<input type=submit Value="Login">
</DIV>
% # The code below iterates through everything in the passed in arguments
% # Preserving all the old parameters
% # This would be easier, except mason is 'smart' and calls multiple values
% # arrays rather than multiple hash keys
% my $key; my $val;
% foreach $key (keys %ARGS) {
% 	if (ref($ARGS{$key}) =~ /ARRAY/) {
% 		foreach $val (@{$ARGS{$key}}) {
<input type=hidden name="<%$key %>" value="<% $val %>">
% 		}
% 	}
%	else {
<input type="hidden" name="<% $key %>" value="<% $ARGS{$key} %>">
% 	}
%}

</FORM>
</DIV>
<&/Elements/TitleBoxEnd&>
<& /Elements/Footer, SuppressAuthString => 1 &>
<% $m->abort() %>
<%ARGS>
$user => ""
$pass => undef
$goto => undef
</%ARGS>

<%INIT>
</%INIT>
