<& /Elements/Header, Title=>"Login" , &>
<DIV ALIGN=CENTER>
<& /Elements/TitleBoxStart, width=> "40%", titleright => "RT for $RT::rtname", title => 'Login' ,
contentbg=>"#cccccc" &>
<FORM METHOD=POST ACTION="<% $RT::WebPath%><% $r->uri %>">
<TABLE BORDER=0>
<TR ALIGN=RIGHT>
<TD ALIGN=RIGHT>Username:</TD><TD><input name=user value="<%$user%>"></TD></TR>
<TR><TD ALIGN=RIGHT>Password:</TD><TD><input type=password name=pass></TD></TR>
</TABLE>
<BR>
<DIV ALIGN=RIGHT>
<input type=submit Value="Login">
</DIV>
% # Preserving all the old parameters
% my @z=$r->args; while (1) { my ($k, $v)=(shift @z, shift @z); last unless $k;
<input type="hidden" name="<% $k %>" value="<% $v %>">
% }
</FORM>
</DIV>
<&/Elements/TitleBoxEnd&>
<& /Elements/Footer, SuppressAuthString => 1 &>
<% $m->abort() %>
<%ARGS>
$user => ""
$pass => undef
$goto => undef
</%ARGS>

<%INIT>
</%INIT>
