<& /Elements/Header, Title=>"Login" &>
<FORM METHOD=POST ACTION="<% $r->uri %>">
Right now, any password will do.  Isn't that excellent?<br>
<input name=user value="<%$user%>"> <br>
<input type=password name=pass>
<input type=submit>
% # Preserving all the old parameters
% my @z=$r->args; while (1) { my ($k, $v)=(shift @z, shift @z); last unless $k;
<input type="hidden" name="<% $k %>" value="<% $v %>">
% }
</FORM>


<%ARGS>
$user => "root"
$pass => undef
$goto => undef
</%ARGS>

<%INIT>
# How do we deal with this?  Do we want to keep some session
# information or what?

# Why do we want to blow away the session like this?
# wait. do you mean that when a user logs in with the same cookie we had before,
# that it should wipe the session data or that when the same user was logged in
# from somewhere else that it should blow away their old session?
if (0) {
my $o=tied(%HTML::Mason::Commands::session);
if ($o) {
  $o->delete;
} else {
  warn "It seems like there is something seriously broken with your perl!?!";
  delete $session{CurrentUser}
    if exists $session{CurrentUser};
}
}
</%INIT>
