PRODUCT			        = rt
TAG			            = 3.2.0rc4
CANONICAL_REPO		    = svn+ssh://svn.bestpractical.com/svn/bps-public/rt/
TAGS		            = tags/
TRUNK	                = branches/rt-3.1/
TMP_DIR			        = /tmp
RELEASE_DIR		        = /home/ftp/pub/rt/devel
