PRODUCT			        = rt
TAG			            = 3.4.0rc3
CANONICAL_REPO		    = svn+ssh://svn.bestpractical.com/svn/bps-public/rt/
TAGS		            = tags/
TRUNK	                = branches/3.4-RELEASE
TMP_DIR			        = /tmp
RELEASE_DIR		        = /home/ftp/pub/rt/devel
