feed {
  display:block;
  text-align:center;
  font-family:verdana, sans-serif;
  margin:2%;
}

info {
  margin:10px 0px 10px 0px;
  background:#003366;
  display:block;
  padding:3px;
  font-size:85%;
}

title {
  font-size:150%;
  color:#000000;
  display:block;
  text-align:left;
  font-weight:bold;
}

tagline, author {
  text-align:left;
  display:block;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  padding: 1px 5px 1px 5px;
  font-size: xx-small;
  color: #000000;
}

a.nav {
  font-size:80%;
  padding: 5px;
  border:solid 1px #dddddd;
  font-size: 90%;
  color: #0000ff;
}

a.html {
  background-color: #003366;
  color: #ccccff;
}

a.post {
  background-color: #66ee66;
  font-weight: bold;
}

a.index {
  background-color: #cccccc;
}

a.edit {
  background-color: #cccc66;
  color: #000033;
  font-weight: bold;
}

entry title {
  font-size:125%;
  font-weight:bold;
  color:#003366;
  display:block;
  padding:5px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  border-top:solid 1px #dddddd;
  background:#eeeeee;
}

id, modified, created, generator, issued, url {
  display:none;
}

entry modified {
  display:inline;
  font-style: italic;
}

content {
  background:#eeeeee;
  display:block;
  padding:5px 3% 10px 3%;
  border-bottom:solid 1px #999999;
  font-family: courier;
  font-size: xx-small;
}



entry {
  text-align:left;
  border-top:dotted 1px #999999;
  display:block;
  background:#ffffff;
  padding:5px 0px 0px 0px;
  margin:5px 5px 0px 10px;
  
}

issued,modified,created,name,id {
  color:#999999;
  font-size:80%;
  margin-top:25px;
}

name {
  font-weight: bold;
}
