.accordion-item {
    border-bottom: 1px solid #E0E6EC;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-title {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-weight: 500;
    width: 100%;
}

.accordion-content {
    padding: 0 10px 10px;
}

.accordion-item-bare {
    padding: 5px;
}

.accordion-toggle {
    cursor: pointer;
    padding: 0.25rem;
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: calc(0.5rem + 16px + 2*var(--bs-border-width));
    width: calc(0.5rem + 16px + 2*var(--bs-border-width));
    line-height: 1;
}

.accordion-toggle:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border: solid currentColor;
    border-width: 0 2px 2px 0;
    -webkit-transform: translateY(1px) rotate(-135deg);
    -ms-transform: translateY(1px) rotate(-135deg);
    transform: translateY(1px) rotate(-135deg);
    transition: transform .25s;
}

.accordion-toggle.collapsed:after {
    -webkit-transform: translateY(-1px) rotate(45deg);
    -ms-transform: translateY(-1px) rotate(45deg);
    transform: translateY(-1px) rotate(45deg);
}

.value>.accordion .accordion-item-bare:first-child,
.value>.accordion .accordion-item:first-child .accordion-title {
    padding-top: 0;
}

.value>.accordion .accordion-item-bare,
.value>.accordion .accordion-item .accordion-title {
    padding-left: 0;
}
