dl {
    font-size: 1.05rem;
    margin-block-end: 0;
}

dd {
    margin-bottom: .6rem;
}

svg {
    overflow: visible;
    vertical-align: text-bottom;
}

[data-bs-theme=light] {

    a:not(.btn):visited {
        color: #666
    }
}

[data-bs-theme=dark] {

    p,
    li span {
        color: #B2B6BA;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #FFF;
    }

    svg {
        fill: #FFF;
    }

    .table td {
        color: #B2B6BA;
    }

    table.table th {
        border: none;
    }

    .table th,
    .table td {
        border-top: 1px solid #6d6f71;
    }

    table a:visited {
        color: #a7a7a7;
    }

    .table {
        --bs-table-hover-bg: #3A474D;
    }

    .table-active {
        --bs-table-bg-state: #3A474D;
    }
}

.rt-blue {
    background-color: var(--bs-blue);
}

.rt-indigo {
    background-color: var(--bs-indigo);
}

.rt-purple {
    background-color: var(--bs-purple);
}

.rt-pink {
    background-color: var(--bs-pink);
}

.rt-red {
    background-color: var(--bs-red);
}

.rt-orange {
    background-color: var(--bs-orange);
}

.rt-yellow {
    background-color: var(--bs-yellow);
}

.rt-green {
    background-color: var(--bs-green);
}

.rt-teal {
    background-color: var(--bs-teal);
}

.rt-cyan {
    background-color: var(--bs-cyan);
}

.rt-system-blue {
    background-color: #084298;
}
