.collection-as-table ul.cf-values {
    margin-top: 0;
    margin-bottom: 0;
}

.collection-as-table .user a {
    font-weight: inherit;
}

.results-count {
    font-size: smaller;
}

/* four nbsps. can't use margin- or padding-left since it makes a gap in
   the <a> tag's underline on hover, and can't use regular spaces since they
   collapse into one because it's HTML, and can't use &nbsp; because it's CSS */
.results-count::before {
    content: '\a0\a0\a0\a0';
}

.collection-as-table div.clip {
    overflow-y: hidden;
}

.collection-as-table a.unclip,
.collection-as-table a.reclip {
    font-size: smaller;
    font-weight: normal;
    margin-top: 0.3rem;
}

/* squeeze multiple-lined headers */
tr.collection-as-table+tr.collection-as-table th {
    padding-top: 0;
}

/* To not wrap icons in header */
th.collection-as-table.allow-sorting {
    white-space: nowrap;
}

th.collection-as-table.allow-sorting span.title {
    white-space: normal;
}

/* When determining if text shall be wrapped, Firefox seems overlook the
 * following nowrap icons, which could cause these icons to overflow. Here
 * we intentionally add some space to the title box to get around this issue
 * */

@-moz-document url-prefix() {

    th.collection-as-table span.title {
        padding-right: 2em;
    }

    th.collection-as-table span.title+* {
        margin-left: -2em;
    }

    /* no need extra space if there are no icons */
    th.collection-as-table span.title:last-child {
        padding-right: 0;
    }
}

[data-bs-theme=light] {
    th.collection-as-table svg.fa-sort {
        color: #ccc;
    }
}

[data-bs-theme=dark] {
    th.collection-as-table svg.fa-sort * {
        color: #777 !important;
    }

    .oddline .collection-as-table,
    .oddline .collection-as-table {
        background: #323D42;
    }

    div.paging span.pagenum span.currentpage,
    div.paging span.pagenum a {
        background-color: transparent !important;
    }
}
