/* body */

div#body {
    padding: 0 20px;
    z-index: 1;
}

div#footer {
    position: absolute;
    font-size: 0.8em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 9px;
    padding-bottom: 8px;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

div#footer>div {
    padding-left: 0;
    padding-right: 0;
}

div#footer #time {
    display: none;
}

/* Override the default bootstrap p margin to reset bottom spacing in footer */
div#footer p {
    margin-bottom: 0;
}

/* logo stuff */

div#logo {
    position: absolute;
    right: 2px;
    height: 2.5rem;
}

div#logo a img {
    border: 0;
    height: 100% !important;
    width: auto !important;
    float: right;
}

div#logo .rtname {
    position: relative;
    font-weight: bold;
    text-align: center;
    top: 0.7em;
    padding-right: 1em;
    float: left;
}

@media (max-width: 800px) {
    div#logo .rtname {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 0;
        /* otherwise the text will overflow into the padding */
    }
}

div#quickbar,
div#logo {
    font-size: 0.9em
}

div#quickbar {
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    height: 2.5rem;
    box-shadow: 0px 3px 6px;
}

div#header {
    padding-top: 1.1em;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

div#header h1 {
    font-size: 1.4em;
    padding-left: 20px;
    display: inline-block;
}

ul,
ol {
    font-weight: 400;
    line-height: 1.3;
}

ul ul {
    list-style-type: disc;
}

ol ol {
    list-style-type: upper-alpha;
}

.main-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 5.15em;
}

div#header {
    border-bottom-color: #547CCC;
}

[data-bs-theme=light] {
    div#footer {
        background-color: #fff;
        background-color: #2C3539;
    }

    div#footer p,
    div#footer a {
        color: #ededed;
    }

    div#quickbar {
        box-shadow: 0px 3px 6px #70899929;
    }

    h1 {
        color: #31363E;
    }

    h2 {
        color: #31363E;
    }

    h3 {
        color: #31363E;
    }

    p {
        color: #5C6273;
    }

    ul,
    ol {
        color: #31363E;
    }

    ul li span,
    ol li span {
        color: #5C6273;
    }
}

[data-bs-theme=dark] {
    div#footer {
        border-top: 1px solid #515151;
    }
}
