.rt-general-header1 {
    font-size: 1.3em;
}

.rt-general-header2 {
    font-style: italic;
    font-size: 1.1em;
    padding-left: 3em;
}

.rt-general-paragraph {
    padding-left: 6em;
    padding-right: 6em;
}

.shredder-form {
    padding-left: 4em;
}

/* always use the customized color(set above) for header1 */
.rt-general-header1 a:not([href]) {
    color: inherit;
}

.rt-general-header1 a:not([href]):hover,
.rt-general-header2 a:not([href]):hover,
.rt-general-header3 a:not([href]):hover,
.rt-general-header4 a:not([href]):hover,
.rt-general-header5 a:not([href]):hover,
.rt-general-header6 a:not([href]):hover {
    text-decoration: none;
    color: inherit;
}


[data-bs-theme=light] {
    .rt-general-header1 {
        color: #3858a3;
    }
}
