
#upload-logo label {
    font-weight: bold;
}

#logo-theme-editor a img {
    border: none;
    max-width: 100%;
}

#custom-css textarea {
    width: 100%;
}

#custom-css-form {
    z-index: 2;
    position: relative;
}
