#pick-criteria .row .label .bootstrap-select {
    margin-top: -5px;
}

#pick-criteria .row .form-check {
    margin-top: 5px;
}

#pick-criteria .value .row {
    margin-top: 0;
}

/* The below mostly clears default button styles from the special
   case filter (funnel) icons */

table.collection-as-table th.collection-as-table a.search-filter {
    font-size: .3em;
    background-color: unset;
    vertical-align: left;
    padding-left: 0em;
    color: unset;
    border: unset;
    box-shadow: none;
}
