#pick-criteria .row .form-check {
    margin-top: 5px;
}

/* Make the font a little smaller on the query builder to
   help more content fit in all of the metadata dropdowns. */

#pick-criteria .row,
#pick-criteria .row .form-control,
#pick-criteria .row .form-select {
    font-size: .9em;
}

/* The below mostly clears default button styles from the special
   case filter (funnel) icons */

table.collection-as-table th.collection-as-table a.search-filter {
    font-size: .3em;
    background-color: unset;
    padding-left: 0em;
    color: unset;
    border: unset;
    box-shadow: none;
}
