
span.rt-user-avatar {
    font-weight: normal;
    font-size: .7rem;
}

a:hover.rt-user-avatar {
    text-decoration: none;
}

[data-bs-theme=light] {
    span.rt-user-avatar {
        color: white;
    }
}

[data-bs-theme=dark] {
    span.rt-user-avatar {
        color: white;
    }
}
