.chart-group-by fieldset,
.chart-calculate fieldset {
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #aaa;
}

.chart-group-by fieldset legend,
.chart-calculate fieldset legend {
    padding: 0 1em;
}
