.message-stanza-folder, .message-stanza-folder + br {
    display: none;
}

.FoldQuotedContent .message-stanza-folder {
    display: inline;
    color: #500050;
    font-size: 0.9em;
    padding: 0.2em;
    cursor: pointer;
}

.FoldQuotedContent .message-stanza-folder + br {
    display: inline;
}

.FoldQuotedContent .message-stanza-folder.open {
    color: #ccc;
}

.FoldQuotedContent .message-stanza-folder:before, .FoldQuotedContent .message-stanza-folder:after {
    content: " - ";
}

.FoldQuotedContent .message-stanza.closed {
    display: none;
}

/* Message quoting */

.message-stanza {
    color: #000;
}

.message-stanza .message-stanza{
    color: #500050;
}

.message-stanza .message-stanza .message-stanza{
    color: #1a1aa6;
}

.message-stanza .message-stanza .message-stanza .message-stanza {
    color: #006633;
}

.message-stanza .message-stanza .message-stanza .message-stanza .message-stanza {
    color: #003366;
}

.message-stanza .message-stanza .message-stanza .message-stanza .message-stanza .message-stanza {
    color: #993366;
}
