table.inline-edit tr.oddline td,
table.inline-edit tr.evenline td {
    padding: 0.25em 0.25em 0.125em 0.125em;
}

table.inline-edit td .value {
    border: 1px dashed transparent;
    padding: 0.25em 0.25em 0.125em 0.125em;
}

body:not(.inline-editing) table.inline-edit td.editable .value:hover {
    background: #ffd url(../../../static/images/pencil.png) no-repeat top right;
    background-size: auto 1.5em;
    border-color: black;
    cursor: pointer;
}

td.editable > form.editor > .loading > img,
td.editable > form.editor > .cancel > img {
    height: 1.5em;
    width: 1.5em;
    margin: .25em;
    border-style: none;
}

td.editable.error {
    color: red;
    font-weight: bold;
}

td.editable > form.editor {
    display: none;
}

td.editable.editing > form.editor,
td.editable.loading > form.editor {
    display: inline-block;
}

td.editable.editing > .value,
td.editable.loading > .value {
    display: none;
}

td.editable > form.editor > .loading {
    display: none;
}

td.editable.loading > form.editor > .loading {
    display: inline-block;
}

td.editable form.editor.wide {
    position: fixed;
    background: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 2;
}

tbody.list-item.refreshing {
    opacity: 0.5;
}

td.editable > form.editor > .cancel,
td.editable > form.editor > .loading {
    height: 100%;
    vertical-align: middle;
}

td.editable > form.editor > .cancel {
    display: inline-block;
}

td.editable.loading > form.editor > .cancel {
    display: none;
}
