.sf-menu li.active > .menu-item {
    font-weight: bold;
}

#topactions input[type="submit"], #topactions input.button {
    width: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#topactions form {
    display: block;
    float: right;
    margin-left: 1em;
    text-align: right;
}

#li-page-bookmark .toggle-bookmark a,
#li-page-timer .timer-link a {
    padding: 0.5em 1em;
    border-style: none;
}

#li-page-bookmark a img,
#li-page-timer a img {
    height: 1.25em;
    width: 1.25em;
}

#topactions input[type="search"] {
    border: none;

    /* turn off webkit input[type=search] styling */
    -webkit-appearance: textfield;
}

#topactions input[type="search"]::-webkit-search-cancel-button {
    /* hide webkit x button for searches */
    -webkit-appearance: none;
}

#topactions input,
#topactions select,
#topactions button {
    height: 2em;
    padding-top: 0;
    padding-bottom: 0;
}

@-moz-document url-prefix() {
    #topactions select.select-queue {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        height: auto;
    }
}

#page-navigation {
    z-index: 95;
}
