.sf-menu li.active > .menu-item {
    font-weight: bold;
}

#topactions input[type="submit"], #topactions input.button {
    width: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#topactions form {
    display: block;
    float: right;
    margin-left: 1em;
    text-align: right;
}

#li-page-bookmark .toggle-bookmark a,
#li-page-timer .timer-link a {
    padding: 0.5em 1em;
}

#li-page-bookmark a img,
#li-page-timer a img {
    height: 1.25em;
    width: 1.25em;
}

