.myrt {
    display: table;
    width: 100%;
}

.myrt .boxcontainer {
    display: table-cell;
}

table.dashboard {
    width: 100%;
    border: 0;
}

.quick-create .select-queue {
   width: 12em;
}

.quick-create input[type="text"], .quick-create textarea {
    width: 100%;

}
