@media print {
	    
	* {
	    float: none;
	    position: static;
	    background: transparent !important;
	    overflow: visible !important;
	}
	
	body {
	    margin: 0;
	    padding: 0;
	    font-size: 10pt;
	    background: white !important;
	}
	
	div#body {
	    margin: 0;
	    margin-top: 0;
	    padding: 0;
	    border-style: none;
	}
	
	div#header h1 {
	    margin-bottom: 1em;
	    position: static;
	    height: auto;
	    width: auto;
	    overflow: visible;
	    color: black !important;
	    padding: 0 !important;
	}
	
	#header {
	    padding: 0 !important;
	}
	
	#quickbar,
	#app-nav,
	#page-menu,
	#main-navigation,
	#page-navigation,
	.titlebox-title .widget,
	.titlebox-title .right,
	.ticket-info-links .titlebox-content .create,
	.transaction .metadata .actions,
	.transaction .content .downloadattachment,
	#comp-Search-Results #body .refresh,
	.search-result-actions,
	#comp-Search-Chart .chart-meta,
	#footer,
	#topactions,
	#logo,
	form,
	div.summary + br
	{
	    display: none;
	}
	
	/* Hide "Click to load" and "Loading" message. Loaded history is #id > .history */
	#deferred_ticket_history > .titlebox, #delayed_ticket_history > .titlebox {
	    display: none;
	}
	
	a:link, a:visited {
	    font-weight: bold !important;
	}
	
	div.transaction .metadata .type {
	    display: none;
	}
	
	div.titlebox-title .left {
	    border: 0 !important;
	    color: black !important;
	    margin: 0 !important;
	    padding-left: 0 !important;
	}
	
	.titlebox.rolled-up .titlebox-title .left:after {
	    content: " [-]";
	    font-weight: normal;
	}
	
	div.titlebox-content {
	    border: 0 !important;
	    padding-top: 0.5em !important;
	}
	
	/* outer Ticket Metadata titlebox gets no padding, but inside ones do below */
	.summary .titlebox-content {
	    padding: 0 !important;
	}
	
	div.summary .ticket-summary div.titlebox-content {
	    padding: 0.5em 1em 1em 1em !important;
	}
	
	div.titlebox-title .left * {
	    color: black !important;
	}
	
	div.messagebody a[href]:after {
	    text-decoration: underline !important;
	    content: " (" attr(href) ") ";
	}
	
	.messagebody {
	    orphans: 2;
	    widows: 2;
	}
	
	div.titlebox-title {
	    page-break-after: avoid;
	    border: 0 !important;
	}
	
	.history-container, div.transaction {
	    border: 0 !important;
	}
	
	div.transaction {
	    page-break-inside: avoid;
	}
	
	/* hide "Ticket metadata" */
	div.summary > div > div.titlebox > div.titlebox-title {
	    display: none !important;
	}
	
	.value {
	    font-weight: bold !important;
	}
	
	.label, .label a, .labeltop, .labeltop a {
	    font-weight: normal !important;
	}
	
	div.titlebox {
	    margin-bottom: 0;
	}
	
	/* for web2 and ballard*/
	
	div.titlebox {
	    border: 0 !important;
	}
	
	div.history .titlebox-title {
	    padding: 0 !important;
	    margin: 0 !important;
	}
	
	/* for web2 */
	
	#page-action-menu {
	    display: none;
	}
	
	/* form elements */
	input, select, option {
	    background: white !important;
	    border: 1px solid #666 !important;
	}
	
	option {
	    border: none !important;
	}
	
	option[selected] {
	    font-weight: bold !important;
	}
	
	
}
