@import "../base/msie6.css";

div#body {
    top: 0em;
}

.topaction .select-queue {
    margin-top: 0;
}

.titlebox-title .widget {
    top: -1.25em;
    left: 0.5em;

}
.titlebox .titlebox-title .right{
    position: absolute;
    top: 1.5em;
}

.titlebox
{
    height: auto !important;
    height: 1.25em;
}


.transaction .messagebody img {
    /* ie6 does not support max-width */
    width: expression(this.width > 401 ? 400 : true);
}



.sf-sub-indicator {
    background: url(../../../static/css/images/arrows-ffffff.gif) no-repeat -10px -100px;
}

#page-navigation ul {
    width: auto;
}

.ticket-transaction div.metadata span.actions {
    right: 1.2em;
}

div.titlebox,
#ticket-create-metadata,
#ticket-update-metadata,
#ticket-create-message,
#ticket-update-message {
    position: relative;
}

#Ticket-Create-details {
    float: left;
    position: relative;
}

div.submit .extra-buttons {
    float: none;
}
