body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 76%;
    margin: 10px;
}
dt{
  border-bottom: 1px solid black;
  font-size: 150%;
}

a {
  color:#0065ce;
  display: block;
}
