<& /Admin/Elements/Header, Title => 'Templates '&>

<UL>
<LI><A href="Create.html">Create a new template</A>


%while (my $Queue = $Queues->Next) {

<h2><%$Queue->Name%></h2>
<i><%$Queue->Description%></i><br>

%my $Templates = $Queue->Templates;
%while  (my $TemplateObj = $Templates->Next) { 

<A HREF="Modify.html?id=<%$TemplateObj->id()%>"><%$TemplateObj->id()%>/<%$TemplateObj->Name%>: <%$TemplateObj->Description%></a><BR>

%}
%}
<%INIT>

my $Queues = new RT::Queues($session{'CurrentUser'});
$Queues->UnLimit;

</%INIT>
