<& /Admin/Elements/Header, Title => 'Templates '&>

<H1>Create a template</H1>
<FORM METHOD=POST ACTION="Create.html">
<INPUT TYPE=SUBMIT VALUE="Create"> <B>TODO</B>
</FORM>
<H1>Select a template to modify</H1>

%while (my $Queue = $Queues->Next) {
<h2><%$Queue->QueueId%></h2>
<i><%$Queue->Description%></i><br>

%my $Templates = $Queue->Templates;
%while  (my $TemplateObj = $Templates->Next) { 

<A HREF="Modify.html?id=<%$TemplateObj->id()%>"><%$TemplateObj->id()%>/<%$TemplateObj->Alias%>: <%$TemplateObj->Title%></a><BR>

%}
%}
<%INIT>

my $Queues = new RT::Queues($session{'CurrentUser'});
$Queues->UnLimit;

</%INIT>
