.titlebox { 
 border-left: 1px solid #ccc;
 border-top: 1px solid #ccc;
 background-color: #efefef;
 padding-top: 1em;
 margin-top: 1em;
 margin-left: 1em;
 -moz-border-radius: 0.5em;
 -webkit-border-radius: 0.5em;
 margin-bottom: 2em;
 border-bottom: 2px solid #aaa;
 border-right: 2px solid #aaa;
 padding-right: 1em;


  border-radius: 0.5em;

}

* html .titlebox {
 border-top: none;
 border-left: none;
}

.titlebox .titlebox { 

 background-color: #ffffff;
 margin-top: 1em;
 margin-right: 0.25em;
 
}


.titlebox {
 margin-left: 0em;
 margin-right: 0em;
 min-height: 1.25em;

}



.titlebox .titlebox-title {
 position: relative;
 margin-top: -1.5em;
 padding-bottom: 0.25em;
 padding-left: 1em;
 margin-right: -1em;

}

.titlebox .titlebox-title a {
 text-decoration: none;
 color: black;

}

.titlebox .titlebox-title a:hover {
 text-decoration: underline;

}

.titlebox .titlebox-title .left {
    font-weight: bold;
    background: #ccc;
    margin-left: 0.75em;
    padding:0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-bottom: 2px solid #aaa;
    border-right: 2px solid #aaa;

    border-radius: 0.5em;


}

.titlebox .titlebox-title .right-empty {
 display:none;
}

.titlebox .titlebox-title .right {
  position: absolute;
   right: 0;
   top: 0.5em;
  font-size: 0.9em;
  background: #dedede;
  border-left: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 padding-right: 0.4em;
 padding-left: 0.4em;
 padding-bottom: 0.2em;
 padding-top: 0.5em;
 -moz-border-radius-bottomleft: 0.25em;
 -webkit-border-bottom-left-radius: 0.25em;
 
 
 -moz-border-radius-topright: 0.25em;
 -webkit-border-top-right-radius: 0.25em;

  border-radius: 0 0.25em 0 0.25em;


}

.titlebox .titlebox-title .right a,
.titlebox .titlebox-title .right a:visited {
 color: #000;
}

.titlebox .titlebox-content {
 padding-top: 0.5em;
 padding-left: 1em;
 padding-bottom: 1em;

}

.titlebox .titlebox-title .widget a {
  display: block;
  margin: 0;
  margin-top: 0.6em;
  width: 20px;

  background: url(../../../static/images/css/rollup-arrow.gif) no-repeat center 0;

  position: absolute;
  top: -1em;
  left: 0.15em;
  float: left;

  padding: 7px 0 0 0;
  overflow: hidden;
}

* html .titlebox .titlebox-title .widget a {
    top: 0em;
    left: -1.5em; 
}

.titlebox.rolled-up .titlebox-title .widget a {
    background-image: url(../../../static/images/css/rolldown-arrow.gif);
}

.unread-messages .titlebox , .unread-messages .titlebox .titlebox-title .left {
  border: 1px solid #99a;
  border-right: 2px solid #aab;
  border-bottom: 2px solid #aab;
}

.unread-messages .titlebox {
  background-color: #dde;
}

.unread-messages .titlebox .titlebox-title .left {
  background-color: #cce;
}
