@import "../base/msie6.css";

.topaction .select-queue {
    margin-top: 0;
}

div#page-navigation {
    width: 100%;
}

.titlebox-title .widget {
    top: -1em;
    left: 0.5em;

}
.titlebox .titlebox-title .right{
    position: absolute;
    top: 0.25em;
    right: 1em;
}

/* nested things. like the ticket dates tab */
.titlebox .titlebox .titlebox-title .right{
    right: 1.3em;
}

#login-box .titlebox .titlebox-title .right {
    margin-top: -0.1em;
    right: 0em;
}

.titlebox
{
    height: auto !important;
    height: 1.25em;
}


.transaction .messagebody img {
    /* ie6 does not support max-width */
    width: expression(this.width > 401 ? 400 : true);
}

#prefs-menu .sf-sub-indicator {
    background-image: url(../../../static/css/images/arrows-grey.gif);
}

#app-nav .sf-sub-indicator {
    background-image: url(../../../static/css/images/arrows-grey.gif);
}

.ticket-transaction div.metadata span.actions {
    right: 1.1em;
}
