#main-navigation {
    background-color: #fff;
    -moz-border-radius-bottomright: 0.5em;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-radius: 0 0.5em 0.5em 0;
    width: 10em;
    font-size: 0.85em;
    position: absolute;
    top: 3.4em;
    left: 0em;
    z-index: 9997;
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.sf-sub-indicator {
    background-image: url(../../../static/css/images/arrows-grey.png);
    margin-top: -3px;
}

#app-nav.sf-vertical li:hover ul,
#app-nav.sf-vertical li.sfHover ul {
    top: -1px;
}

#prefs-menu > li, #prefs-menu > li > a {
    background-color: transparent;
}

#prefs-menu.sf-menu a,
#prefs-menu .sf-menu a
{
    border: none;
}

#prefs-menu.sf-menu li li li {
    border-left: 1px solid #ccc;
}

#prefs-menu.sf-menu li:hover ul,
#prefs-menu.sf-menu li.sfHover ul {
    top: 2.4em; /* match the height of the top level li */
}

#prefs-menu.sf-menu li li:hover ul,
#prefs-menu.sf-menu li li.sfHover ul {
    top: 0;
}

#prefs-menu .sf-sub-indicator {
    background-image: url(../../../static/css/images/arrows-grey.png);
    margin-top: 0;
}

#main-navigation ul li {
}


#main-navigation .sf-menu {
    text-color: #000;
}

#main-navigation .sf-menu li {
    background: none;
}

#main-navigation .sf-menu li:first-child {
    border-top: 1px solid #ccc;
}

#main-navigation .sf-menu a,
#main-navigation .sf-menu a:visited {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #000;
    border: none;
}

#main-navigation .sf-menu li {
    border-bottom: 1px solid #ccc;

}


#main-navigation .sf-menu ul a,
#main-navigation .sf-menu ul a:visited {
    color: #000;
}


#main-navigation .sf-menu li li, #main-navigation .sf-menu li li li {
    border-left: none;
    background-color: #fff;
    text-color: #547CCC;
}

#main-navigation .sf-menu li:hover, #main-navigation .sf-menu li.sfHover, #main-navigation .sf-menu a:focus, #main-navigation .sf-menu a:hover, #main-navigation .sf-menu a:active {
    background-color: #CFDEFF;
    text-color: #000;
    color: #000;
}

#main-navigation .sfHover a,
#main-navigation .sfHover a:visited {
    color: #000;
}

/* to stop a "flash" of an unstyled menu on an older browser,  hide the menu until superfish has initialized it */
#app-nav.toplevel { display: none; }
#app-nav.toplevel.sf-menu { display:block; }
#page-menu.toplevel { display: none; }
#page-menu.toplevel.sf-menu { display:block; }



#page-navigation {
    position: absolute;
    top: 5.7em;
    left: 10em;
    right: 0em;
    height: 2.1em;
    font-size: 0.9em;
    background-color: #fff;
    border: 1px solid #ccc;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-right: none;
    border-radius: 0 0 0 0.5em;
}

#page-navigation .sf-menu {
    margin: 0;
}

#page-navigation .sf-menu li, #page-navigation .sf-menu li li, #page-navigation .sf-menu li li li {
    background: none;
    height: 2em;
    padding-top: 0.25em;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
}


#page-navigation .sf-menu ul {
    background: white;
    border-bottom: 2px solid #ccc;
}


#page-navigation .sf-menu li:hover, #page-navigation .sf-menu li.sfHover, #page-navigation .sf-menu a:focus, #page-navigation .sf-menu a:hover, #page-navigation .sf-menu a:active {
    background: none;
}

#page-navigation .sf-menu a:visited, #page-navigation .sf-menu a {
    border: none;
    color: #000;
}

#page-navigation .sf-menu a {
    padding: 0.25em;
}

#page-navigation .sf-menu a.sf-with-ul {
    /* allow space for the submenu indicator */
    padding-right: 2em;
}

#page-menu.sf-menu li .sf-sub-indicator {
    top: 0.7em;
}


#page-actions {
    display: none;
}

#page-action-menu {
    position: absolute;
    display: block;
    top: 8.2em;
    right: 0em;
    left: auto;
    z-index: 9995;
    font-size: 0.9em;
    background-color: #eee;
    border: 1px solid #ccc;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-right: none;
    border-top: none;
    list-style-type: none;
    padding: 0.5em;
}


#page-action-menu li {
    display: inline;
}

#page-action-menu a, #page-action-menu a:visited {
    border: none;
    padding: 0.25em;
    color: #000;
}


#topactions {
 position: absolute;
 background: transparent;
 top: 3.2em;
 right: 0.7em;
 width: auto;
 min-width: 42em;
 font-size: 0.9em;
 z-index: 99;
}

#topactions form * {
    vertical-align: top;
}

#topactions button, #topactions select, #topactions input{
 padding-top: 0em;
 padding-bottom: 0em;
 width: 8em;

}

#topactions #simple-search .field{
 margin-left: 1em;
 color: #787;
 }

#topactions #simple-search .field:focus {
 color: #000;
 }


