.titlebox {
    margin-top: 1em;
    margin-bottom: 2em;
}

.titlebox .titlebox-content {
    padding: 0.5em 0.25em 0.5em 0.25em;
    border-top: 2px solid #aaa;
    min-height: 3em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom: 1px solid #eee;
}

* html .titlebox {
    border-top: none;
    border-left: none;
}

.titlebox .titlebox {
    margin-top: 1em;
    margin-right: 0.25em;
}

.titlebox .titlebox .titlebox-content {

}

.titlebox {
    margin-left: 0em;
    margin-right: 0em;
    min-height: 1.25em;
}

.titlebox .titlebox-title {
    position: relative;
    background-color: transparent;
}

.titlebox .titlebox-title a {
    text-decoration: none;
    color: black;
}

.titlebox .titlebox-title a:hover {
    text-decoration: underline
}

.titlebox.rolled-up  .titlebox-title .left,
.titlebox.rolled-up  .titlebox-title .left a {
    color: #ccc;
    line-height: 1.6em;
}

.titlebox.rolled-up .titlebox-title {
    border-bottom: 1px solid #ccc
}

.titlebox.rolled-up .titlebox-title .right {
    display: none
}

.titlebox .titlebox-title .left {
    font-weight: bold;
    background: transparent;
    margin-left: 1em;
    padding: 0.5em 1.25em 0.25em 1.25em;
    line-height: 1.4em;
    font-size: 1.1em;
    border: none;
}

.titlebox .titlebox-title .left,
.titlebox .titlebox-title .left a {
    color: #3858a3
}

.titlebox .titlebox-title .right-empty {
    display: none
}

.titlebox .titlebox-title .right {
    position: absolute;
    right: 2px;
    top: 0;
    font-size: 0.9em;
    padding-right: 0em;
    padding-left: 0.4em;
    padding-bottom: 0.2em;
    padding-top: 0.5em;
    -moz-border-radius-bottomleft: 0.25em;
    -webkit-border-bottom-left-radius: 0.25em;
    -moz-border-radius-topright: 0.25em;
    -webkit-border-top-right-radius: 0.25em;
    border-radius: 0 0.25em 0 0.25em;
}

.titlebox .titlebox-title .right a,
.titlebox .titlebox-title .right a:visited {
    color: #999;
    font-weight: bold;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.titlebox:hover .titlebox-title .right a,
.titlebox:active .titlebox-title .right a {
    color: #000
}

.titlebox .titlebox-title .widget a {
    display: block;
    margin: 0;
    width: 20px;
    background: url(../../../static/images/css/rollup-arrow.gif) no-repeat;
    background-position: center 0;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding: 7px 0 0 0;
    overflow: hidden;
}

.titlebox.rolled-up .titlebox-title .widget a {
    background-image: url(../../../static/images/css/rolldown-arrow.gif)
}

div.results .titlebox .titlebox-content {
    border: none;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.results .titlebox-content ul {
    list-style-type: none
}

.results .titlebox-title {
    display: none
}

.titlebox form {
    display: inline-block; /* makes the submit buttons not end up way far away */
}
