.hide, .hidden { display: none !important; }

div.autocomplete {
    position: absolute;
    background-color: white;
    border: 1px solid #888;
    margin: 0px;
    padding: 0px;
}
div.autocomplete ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
div.autocomplete ul li.selected {
    background-color: #0088cc;
    color: #eee;
}
div.autocomplete ul li {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 2px;
}


.clear { clear: both; }

* html .clearfix {
    height: 1%; /* IE5-6 */
}
.clearfix {
    display: inline-block; /* IE7xhtml*/
}
html[xmlns] .clearfix { /* O */
    display: block;
}
.clearfix:after { /* FF, O, etc. */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.titlebox .titlebox-content hr.clear {
    visibility: hidden;
}

