
div.nowrap
{
  white-space: nowrap;
  }             


/* BEGIN Login Form */
div#loginform
{ 
  width: 100%;
  }

div#loginform div.input-row
{ 
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  }

div#loginform div.input-row span.label
{ 
  width: 40%;
  font-size: 12pt;
  }

div#loginform div.input-row span.input
{ 
  width: 60%;
  }

div#loginform div.input-row input
{ 
  width: 60%;
  }

div#loginform div.button-row
{ 
  padding-right: 8px;
  text-align: right;
  }

div#loginform div.button-row input
{ 
  width: auto;
  }
/* END Login Form */
