%# {{{ BEGIN BPS TAGGED BLOCK
%# 
%# 
%# 
%# LICENSE:
%# 
%# This work is made available to you under the terms of Version 2 of
%# the GNU General Public License. A copy of that license should have
%# been provided with this software, but in any event can be snarfed
%# from www.gnu.org.
%# 
%# This work is distributed in the hope that it will be useful, but
%# WITHOUT ANY WARRANTY; without even the implied warranty of
%# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
%# General Public License for more details.
%# 
%# You should have received a copy of the GNU General Public License
%# along with this program; if not, write to the Free Software
%# Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
%# 
%# 
%# CONTRIBUTION SUBMISSION POLICY:
%# 
%# (The following paragraph is not intended to limit the rights granted
%# to you to modify and distribute this software under the terms of
%# the GNU General Public License and is only of importance to you if
%# you choose to contribute your changes and enhancements to the
%# community by submitting them to Best Practical Solutions, LLC.)
%# 
%# By intentionally submitting any modifications, corrections or
%# derivatives to this work, or any other work intended for use with
%# Request Tracker, to Best Practical Solutions, LLC, you confirm that
%# you are the copyright holder for those contributions and you grant
%# Best Practical Solutions,  LLC a nonexclusive, worldwide, irrevocable,
%# royalty-free, perpetual, license to use, copy, create derivative
%# works based on those contributions, and sublicense and distribute
%# those contributions and any derivatives thereof.
%# 
%# }}} END BPS TAGGED BLOCK
%#
%# Special stylesheet for printing tickets
%# Koos van den Hout koos@cs.uu.nl 2005-11-21
%#

SPAN.nav { display: none !important; }
.nav2 { display: none !important; }
.nav { display: none !important; }
.topnav { display: none !important; }
.blue { display: none !important; }
.darkblue { display: none !important; }
.blueright { display: none !important; }
.currentnav { display: none !important; }
th.titlebox { border-top: none; border-bottom: none; }
th.titleboxright { display:none !important; border-top: none; border-bottom: none; }
.titlebox { border-top: none; border-bottom: none; }

div.downloadattachment, div.downloadcontenttype {
       display: none !important;
}


a[href$="Respond"], a[href$="Comment"], a[href*="ShowEmailRecord"] {
       display: none !important;
}


%# Provide a callback for adding/modifying the style sheet.
%# http://www.w3.org/TR/REC-CSS1 - section 3.2, says:
%#   "latter specified rule wins"
<& /Elements/Callback &>
<%flags>
inherit => undef
</%flags>
<%init>
$r->content_type('text/css');
$r->headers_out->{'Expires'} = '+30m';
</%init>
