

div#body {
    left: 0.25em;
    height: 100%;
    top: 1em;

}

#header h1 {
    top: 1.6em;
    bottom: 4em;
    height: 2em;
    z-index: 99999;

}

div#page-navigation ul#actions-menu {
    margin-top: -3em;
    margin-right: -0.3em;
}

div#page-navigation {
    position: absolute;
    top: 6.2em;
    height: 1.8em;
    background: #fff;
    border-top: 2px solid #ccc;
}



div#page-navigation ul#page-menu {
    margin-top: -3.2em;
    margin-left: 4em;
    background: none;
    border: none;
}

div.titlebox  .titlebox-title .right {
     top: 1.1em;
     right: 1.1em;

}

div#quickbar { height: 1.2em;}

#comp-Search-Build #editquery {
  margin-top: 0.2em;
  width: 39%;
  left: 60%;
}

div#nav li.first {
    border-top: 1px solid #cccccc;
    margin-top: 0.25em;
}

div#nav li.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.ticket-transaction .type a { font-weight: normal; text-decoration: none; color: #fff; }
