#login-box {

 width: 30em;
 
margin-right:auto;margin-left:auto;
 padding-top: 2em;
 padding-bottom: 2em;


}


#login-box .form_field {
  position: relative;
  height: 1.5em;
  padding-top: 1em;
}

#login-box .form_field label {

 position: absolute;
 left: 0em;
 width: 8.5em;
 text-align: right;
 font-weight: bold;


}


#login-box .form_field input {
 position: absolute;
 left:9em;
}

#login-box .form_field .hints {
 position: relative;
 left: 7.5em;
 font-size: 0.8em;
 top: 0.2em;
}

