div.application-params span.param-placeholder,
div.function span.return-type,
div.context span.return-type,
div.expression span.return-type,
div.menu-item span.return-type {
  color:#555555;
  font-style:italic;
}

.signature .parameter {
    border: 1px solid red;
}

.expression .type {
    background-color: lightGreen;
    border: 2px solid green;
}

.signature .parameter {
    background-color: lightBlue;
    border: 2px solid blue;
}

div.top-context {
    position: relative;
    left: 20em;
}

div.context {
    border: 1px dashed;
    min-height: 1.5em;
}

div.current {
    border: 1px dotted red;
}

div.application-params span.param-placeholder,
div.function span.return-type, 
.signature .parameter,
.expression .return-type {
	font-size: 0.8em;
  display: inline-block;
  text-align: left;
  padding: 0.25em;
  padding-left: 0.5em;
  margin-right: 0.5em;
  width: 8em;
  overflow: hidden;
}


div#body {
	margin-left: 1em;

}

#expression-filter input[type=text] {
	display: block;
}

#expressionbuilder {
}
.application-old {
	position: relative;
	top: -7em;
	left: 20em;

}
		
.library {
	position: relative;
	top: -5em;
	left: 1em;
	width: 15em;
	padding: 0.5em;
	background: #ccc;
	-moz-border-radius: 0.5em;

}


div.application-params span.param {
  padding:0.5em;
  background: lightBlue;
  border 1px solid blue;

}

div.application-params span.param-placeholder,
.application-params .param{
  background-color: #fcc;
  border:1px solid red;
}

div.application-params span.param-placeholder.current {
	background: #f99;	
}

.return-type.unmatched {
    background: #f99;
    border: 1px solid red;
}

.return-type.matched {
    background: lightGreen;
    border: 1px solid green;
}

.signature {
	padding-left: 2em;
}

div.context span.expression {
    padding-left: 1em;
}