div.application-params span.param-placeholder,
div.function span.return-type,
div.context span.return-type,
div.expression span.return-type,
div.parameter .type,
div.menu-item span.return-type {
    color:#555555;
    padding-right:0.5em;
}


.expression .type {
    background-color: lightGreen;
    border: 2px solid green;
}

.signature .parameter {
    background-color: lightBlue;
    border: 2px solid blue;
	border-right: 10px solid #00c;
}

div.top-context {
    position: relative;
    left: 20em;
}

div.context {
    border: 1px solid #ccc;
    margin: 0.5em;
    padding: 0.5em;
	max-width: 70%;
	display: inline-block;
	border-right: 10px solid #ccc;
}

div.current {
    border: 1px solid blue;
	background: #ffc;
	border-right: 10px solid #00c;
}

div.application-params span.param-placeholder,
div.function span.return-type, 
.signature .parameter,
.expression .return-type {
	font-size: 0.9em;
  display: inline-block;
  text-align: left;
  padding: 0.25em;
  padding-left: 0.5em;
  margin-right: 0.5em;
  width: 8em;
  overflow: hidden;
}


div#body {
	margin-left: 24em;

}

#expression-filter input[type=text] {
	display: block;
}

#expressionbuilder {
}
.application-old {
	position: relative;
	top: -7em;
	left: 20em;

}
		
.library {
	position: absolute;
	top: 0;
	left: 0;
	width: 21em;
	bottom: 0;
	padding: 0.5em;
	background: #fff;
	overflow: auto;
	-moz-border-radius: 0.5em;

}

.library * {
 0.25em;
}


div.application-params span.param {
  padding:0.5em;
  background: lightBlue;
  border: 1px solid blue;

}

div.application-params span.param-placeholder,
.application-params .param{
  background-color: #fcc;
  border:1px solid red;
}

div.application-params span.param-placeholder.current {
	background: #f99;	
}


.functions .unmatched {
	display: none;
}

.functions .matched, .expressions .matched {
	display: block;
	padding: 0.25em;

	background: #eee;
	margin-bottom: 3px;
}


.expressions .return-type, .functions .return-type {
	background: #fff;
    border: 1px solid #ccc;
    border-left: 10px solid #ccc;
	color: #ccc;
}
.unmatched * {
	color: #ccc;
}

.unmatched .signature {
	display: none;
}

.matched .signature {
	display: block;
}

.matched .signature * {
	color: #000;
}

.matched .return-type {
    border-left: 10px solid #0c0;
}

.signature {
	padding-left: 2em;
}

div.context span.expression {
    padding-left: 1em;
}

.context .unmatched {
	color: red;
	padding: 0.5em;
	margin-bottom: 0.5em;
	border: 1px solid red;


}
.context .unmatched:before {
	font-size: 1em;
	font-weight: bold;
	color: #f00;
	content: "TYPE MISMATCH: ";
}
.context .transform {
	float: right;
	padding: 0.5em;
	font-size: 2em;
}
.expression:hover, .function:hover, .application:hover, .context:hover {
	background: #ffd;
}
