/* Layout */

#setupwizard .column {
    width: 49%;
    margin: 0;
    padding: 0;
}

#setupwizard .column > h1:first-child,
#setupwizard .column > h2:first-child,
#setupwizard .column > h3:first-child,
#setupwizard .column > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

#setupwizard .right {
    float: right;
    clear: right;
}

#setupwizard .left {
    float: left;
    clear: left;
}

#setupwizard .widest { width: 73%; }
#setupwizard .thinnest { width: 25%; }

#setupwizard hr.clear {
    display: block;
    clear: both;
    visibility: hidden;
    height: 1px !important;
    padding: 0;
    margin: 0;
    border: none;
}

/* Step list */

#setupwizard .steps {
    font-size: 1.2em;
}

#setupwizard .steps li {
    line-height: 1em;
    padding-bottom: 0.75em;
}

#setupwizard .steps li a {
    color: black;
}

#setupwizard .steps li.current, #setupwizard .steps li.current a {
    color: #06c;
    font-weight: bold;
}

/* DB config */

#setupwizard .test-connectivity-result {
    margin-left: 12.7em;
}

#setupwizard .note, #setupwizard .test-db-connectivity-drivers {
    background: #ff9;
    color: black;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    padding: 0.5em 1em;
}

#setupwizard .warning {
    color: black;
}

#setupwizard .activation {
    font-size: 0.9em;
}

/* RT specific config fields with doc */

#setupwizard input.argument-password,
#setupwizard input.argument-password_confirm {
    width: 18em;
}

#setupwizard .form_field .label,
#setupwizard .form_field label {
    width: 12em;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.6em;
}

#setupwizard .form_field .hints {
    float: none;
    display: block;
    margin-left: 12.7em;
    font-size: 1em;
    color: black;
}

#setupwizard .form_field .hints p:first-child {
    padding-top: 0;
    margin-top: 0;
}


/* Buttons! */

#setupwizard .test-db-connectivity {
    margin-left: 12.7em;
}

#setupwizard .button-line {
    display: block;
    width: 100%;
    height: 2.5em;
    margin-top: 2em;
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
}

#setupwizard .button-line input {
    margin-left: 0;
}

#setupwizard .button-line .prev-button {
    clear: none;
    float: left;
    margin-left: 1em;
}

#setupwizard .button-line .next-button {
    clear: none;
    float: right;
    margin-right: 1em;
}

#setupwizard .button-line .save-button {
    clear: none;
    float: right;
    margin-right: 1em;
}

#setupwizard .submit_button {
    display: inline;
    margin: 0;
    padding: 0;
}

#setupwizard input.finish {
    display: block;
    margin: 0 auto;
    text-align: center;
}
