  <& /Admin/Elements/Header, Title => 'RT ACL Administration' &>
  <FORM METHOD=POST>
    <INPUT TYPE=HIDDEN NAME=Queue VALUE="<% $QueueObj->id %>">
      
      <TABLE>
	<%PERL>
	#Iterate through all users with rights in this queu
	while (my $UserObj = $Users->Next()) {
	    my $UserACLObj = new RT::ACL($session{'CurrentUser'});
	    
	    $UserACLObj->LimitScopeToQueue($QueueObj->Id);
	    $UserACLObj->LimitPrincipalToUser($UserObj->Id);
	</%PERL>
	<TR>
	  <TD>
	    <% $UserObj->UserId %>
	  </TD>
	  <TD>

	    <INPUT TYPE=HIDDEN NAME="CheckACL" 
		   VALUE="User-<%$UserObj->Id%>-Queue-<%$QueueObj->Id%>">
	      <SELECT SIZE=5  MULTIPLE 
		      NAME="ACL-User-<%$UserObj->Id%>-Queue-<%$QueueObj->Id%>">

% foreach $right (keys %TicketRights) {

		<OPTION VALUE="Ticket-<%$right%>"
		  <% $UserACLObj->HasEntry(PrincipalId => $UserObj->Id ,
					   PrincipalType => 'User',
					   RightName => "$right", 
					   RightScope => 'Ticket', 
					   RightAppliesTo => $QueueObj->Id)
		  && 'SELECTED' %>
		  >Ticket:<%$right%></OPTION>
% }
%foreach $right (keys %QueueRights) {
		    <OPTION VALUE="Queue-<%$right%>"
		  <%  $UserACLObj->HasEntry(PrincipalId=> $UserObj->Id , 
					    PrincipalType => 'User', 
					    RightName => "$right", 
					    RightScope => 'Queue', 
					    RightAppliesTo => $QueueObj->Id) 
		    && 'SELECTED'  %>
		  >Queue:<%$right%></OPTION>
% }
	      </SELECT>
	    
	  </TD>
	</TR>
	
% }
      </TABLE>
      
      <TABLE>
	
%#Iterate through all users with rights in this queu
%while ($GroupObj = $Groups->Next()) {
	<TR>
	  <TD>
	    <% $GroupObj->Name %>
	  </TD>
	  <TD>
	    <INPUT TYPE=HIDDEN NAME="CheckACL" 
		   VALUE="Group-<%$GroupObj->Id%>-Queue-<%$QueueObj->Id%>">
	      <SELECT SIZE=5 MULTIPLE 
		      NAME="ACL-Group-<%$GroupObj->Id%>-<%$QueueObj->Id%>">
% foreach $right (keys %TicketRights) {
		<OPTION VALUE="Ticket-<%$right%>">Ticket:<%$right%></OPTION>
% }
%foreach $right (keys %QueueRights) {
		<OPTION VALUE="Queue-<%$right%>">Queue:<%$right%></OPTION>
%}
	      </SELECT>
	  </TD>
	</TR>
	
% }
      </TABLE>
    <& /Elements/Submit &>
  </FORM>
  
<%INIT>
    
    # {{{ Deal with setting up the display of current rights.
    
    # {{{ do basic initialization.
    
    #Define vars used in html above
    my ($GroupObj);
  
  my ($right);
  my %TicketRights = RT::ACE->TicketRights;
  my %QueueRights = RT::ACE->QueueRights;
  
  
  if (!defined $Queue) {
      Abort("No Queue defined");
  }
  
  my $QueueObj = new RT::Queue($session{'CurrentUser'});
  $QueueObj->Load($Queue) ||
    Abort("Couldn't load queue $Queue");
  
  # Find out which users we want to display ACL selects for
  my $Users = new RT::Users($session{'CurrentUser'});
  $Users->UnLimit;
  #$Users->LimitToPrivileged();
  
  # Find out which groups we want to display ACL selects for.
  my $Groups = new RT::Groups($session{'CurrentUser'});
  #TODO: limit this to non-pseudogroups
  $Groups->UnLimit();

  # }}}
    
    # {{{ Put together a list of rights already granted for this queue
  
  my $AdminCcRights = new RT::ACL($session{'CurrentUser'});
  $AdminCcRights->LimitScopeToQueue($QueueObj->id);
  $AdminCcRights->LimitPrincipalToType('AdminCc');
  
  my $CcRights = new RT::ACL($session{'CurrentUser'});
  $CcRights->LimitScopeToQueue($QueueObj->id);
  $CcRights->LimitPrincipalToType('Cc');
  
  my $RequestorRights = new RT::ACL($session{'CurrentUser'});
  $RequestorRights->LimitScopeToQueue($QueueObj->id);
  $RequestorRights->LimitPrincipalToType('Requestor');
  
  # }}}
  
  # }}}
    
  # {{{ Deal with any changes made to the ACL 

  my $ACL;
  foreach $ACL (@CheckACL) {
      
      my ($Principal);
      
      # Parse out what we're really talking about. 
      # it would be good to make this code generic enough to apply
      # to system rights too
      
      if ($ACL =~ /^(.*?)-(\d+)-Queue-(\d+)/) {
	  my $PrincipalType = $1;
	  my $PrincipalId = $2;
	  my $AppliesTo = $3;

	  # {{{ Create an object called Principal
	  # so we can do rights operations
	  
	  if ($PrincipalType  eq 'User' ) {
	      $Principal = new RT::User($session{'CurrentUser'});
	  }
      elsif ($PrincipalType eq 'Group') {
           $Principal = new RT::Group($session{'CurrentUser'});
           }
	  else {
	      Abort("$PrincipalType unknown principal type")
	  }	
	  
	  $Principal->Load($PrincipalId) ||
	    Abort("$PrincipalType $PrincipalId couldn't be loaded");
	  
	  # }}}
	  
	  # {{{ load up an RT::ACL object with the same current vals of this ACL
	  
	  my $CurrentACL = new RT::ACL($session{'CurrentUser'});
	  $CurrentACL->LimitScopeToQueue($AppliesTo);
	  $CurrentACL->LimitPrincipalToType($PrincipalType);
	  $CurrentACL->LimitPrincipalToId($PrincipalId);
	  
	  # }}}
	  
	  # {{{ Get the values of the select we're working with 
	  # into an array. it will contain all the new rights that have 
	  # been granted
	  
	  
	  #Hack to turn the ACL returned into an array
	  my @rights = ref($ARGS{"ACL-$ACL"}) eq 'ARRAY' ?
	    @{$ARGS{"ACL-$ACL"}} : ($ARGS{"ACL-$ACL"});
	  
	  # }}}
	  
	  # {{{ Add any rights we need. at the same time, build up
	  # a hash of what rights have been selected 

	  my ($entry,%rights);
	  foreach $entry (@rights) {
	      my ($scope, $right);

	      $RT::Logger->debug ("Now handling right $entry\n");
	      ($scope, $right) = split(/-/,$entry,2);
	      
	      #if the right that's been selected wasn't there before, add it.
	      unless ($CurrentACL->HasEntry(RightScope => "$scope",
					    RightName => "$right",
					    RightAppliesTo => "$AppliesTo", 
					    PrincipalType => $PrincipalType ,
					    PrincipalId => $Principal->Id )) {
		  
		  #TODO Deal with system rights
		  #Add new entry to list of rights.
		  $RT::Logger->debug("Granting queue right $entry to ".
				     $Principal->id.	 
				     " for queue $AppliesTo\n"); 
		  $Principal->GrantQueueRight( RightAppliesTo => $AppliesTo,
					       RightScope => "$scope",
					       RightName => "$right" );
		  
	      }
	      
	      # Build up a hash of rights, so that we can easily check
	      # to make sure the user has not turned off any rights.
	      
	      $rights{"$entry"} = 1;
	      
	  }
	  # }}}
	  
	  # {{{ remove any rights that have been deleted
	  while ($entry = $CurrentACL->Next()) {
	      #If @rights doesn't contain what $entry does, then the user has
	      # removed that right.
	      
	      unless ($rights{$entry->RightScope."-".$entry->RightName}) {
		  #yank the entry out of  the ACL
	  $entry->Delete();
	      }
	      
	      
	  }	
	  # }}}
	  
	  
      }
  }

  # }}}
  
  </%INIT>

<%ARGS>
$Queue = undef
$UserString => undef
$UserOp => undef
$UserField => undef
@CheckACL => undef
</%ARGS>
