  <& /Admin/Elements/Header, Title => 'Modify ACLS for queue '. $QueueObj->QueueId &>
  
<& /Elements/ListActions, actions => \@results &>
  <FORM METHOD=POST>
    <INPUT TYPE=HIDDEN NAME=id VALUE="<% $QueueObj->id %>">
      


<h2>Modify ACLS for queue <a href="../Queues/Modify.html?id=1"><%$QueueObj->QueueId%></a></h2>
      <TABLE>
	<TR>
	  <TD>
	    <h3><a href="../Users/">Users</a></h3>
	  </TD>
	  <TD>
	    <h3><a href="../Groups/">Groups</a></h3>
	  </TD>
	</TR>
	<TR>
	  <TD>
    <TABLE>
        

%	while (my $UserObj = $Users->Next()) {
  <TR ALIGN=RIGHT> 
	<TD VALIGN=TOP>


	    <% $UserObj->UserId %>
		  </TD>
		<TD>
		  <& /Admin/Elements/SelectRights, PrincipalObj => $UserObj,
		    PrincipalType => 'User',
		      Scope => 'Queue',
			QueueObj => $QueueObj &>
		</TD>
	      </TR>
% }
	    </TABLE>
	  </TD>
	  <TD>
	    <TABLE>
% while ($GroupObj = $Groups->Next()) {
	      
	      <TR ALIGN=RIGHT> 
		<TD VALIGN=TOP>
		  <% $GroupObj->Name %>
		</TD>
		<TD>
	    <& /Admin/Elements/SelectRights, PrincipalObj => $GroupObj,
                                   PrincipalType => 'Group',
                                   QueueObj => $QueueObj,
                                   Scope => 'Queue' &>
		</TD>
	      </TR>
	
% }
	      </TABLE>
	      </TD>
    </TR>
      </TABLE>
      <P>Be careful to hold down your control or apple key when selecting rights, to make sure that you don't 
remove rights that were granted previously.
	</P>
      
      <& /Elements/Submit, Caption => "Be sure to save your changes", Reset => 1 &>
  </FORM>
  
  <%INIT>
 
   #Update the acls.
 my @results =  ProcessACLChanges(\@CheckACL, \%ARGS);

    # {{{ Deal with setting up the display of current rights.
    
    # {{{ do basic initialization.
    
    #Define vars used in html above
    my ($GroupObj);
  
  my ($right);
  
  
  if (!defined $id) {
      Abort("No Queue defined");
  }
  
  my $QueueObj = new RT::Queue($session{'CurrentUser'});
  $QueueObj->Load($id) ||
    Abort("Couldn't load queue $id");
  
  # Find out which users we want to display ACL selects for
  my $Users = new RT::Users($session{'CurrentUser'});
  $Users->UnLimit;
  #$Users->LimitToPrivileged();
  
  # Find out which groups we want to display ACL selects for.
  my $Groups = new RT::Groups($session{'CurrentUser'});
  #TODO: limit this to non-pseudogroups
  $Groups->UnLimit();

  # }}}
    
  
  # }}}
    



  
  </%INIT>

<%ARGS>
$id = undef
$UserString => undef
$UserOp => undef
$UserField => undef
@CheckACL => undef
</%ARGS>
