.titlebox { 
 border: 1px solid #ccc;

 background-color: #efefef;
 padding-top: 1em;
 margin-top: 1em;
 margin-left: 1em;
 -moz-border-radius: 0.5em;
 -webkit-border-radius: 0.5em;
 margin-bottom: 2em;
 border-bottom: 2px solid #aaa;
 border-right: 2px solid #aaa;
 padding-right: 1em;
}


.titlebox .titlebox { 

 background-color: #ffffff;
 padding-top: 1em;
 margin-top: 1em;
 -moz-border-radius: 0.5em;
 -webkit-border-radius: 0.5em;
 margin-right: 1em;
 
}



.titlebox .titlebox-title {
 position: relative;
 margin-top: -1.5em;
 padding-bottom: 0.25em;
 padding-left: 1em;
 margin-right: -1em;
 
}

.titlebox .titlebox-title a {
 text-decoration: none;
 color: black;

}

.titlebox .titlebox-title a:hover {
 text-decoration: underline;

}


.titlebox .titlebox-title .left {
    font-weight: bold;
    background: #ccc;
    margin-left: 0.75em;
    padding:0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-bottom: 2px solid #aaa;
    border-right: 2px solid #aaa;


}

.titlebox .titlebox-title .right-empty {
 display:none;
}

.titlebox .titlebox-title .right {
  position: absolute;
   right: 0;
   top: 0.5em;
  font-size: 0.9em;
  background: #dedede;
  border-left: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 padding-right: 0.4em;
 padding-left: 0.4em;
 padding-bottom: 0.2em;
 padding-top: 0.5em;
 -moz-border-radius-bottomleft: 0.25em;
 -webkit-border-bottom-left-radius: 0.25em;
 
 
 -moz-border-radius-bottomleft: 0.25em;
 -webkit-border-bottom-left-radius: 0.25em;

}

.titlebox .titlebox-content {
 padding-top: 0.5em;
 padding-left: 1em;
 padding-bottom: 1em;

}

.hidden {
 display: none;
}

.titlebox .titlebox-title .widget a {
  display: block;
  padding-top: 0.5em;
  width: 20px;

  background: url(/NoAuth/images//css/rollup-arrow.gif) no-repeat center center;
  margin: 0;
  text-indent: -9999px;

  position: absolute;
  top: -1em;
  left: -0.25em;
  float: left;

}

* html .titlebox .titlebox-title .widget a {
    background-position: center 0.3em;
    left: -1.5em; 
}

.titlebox.rolled-up .titlebox-title .widget a {
    background-image: url(/NoAuth/images//css/rolldown-arrow.gif);
}

