
form {

    background: none;
    border: none;
    margin: none;
}


.input-row .label {
  display: inline-block;
  position: relative;
  text-align: right;
}
.input-row .input {
  position: relative;
  left: 1em;
  width: 10em;
  text-align: right;
}


div.button-row {
   text-align: right;
   padding-right: 0.5em;
}

input[type=reset], input[type=submit], input[class=button] {
   color: #fff;
   background: #003EBA;
   padding: 0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;

}

div.error div.error {
 border: 1px solid red;
 background-color: #ffcccc;
}


td.label, td.labeltop {
 text-align: right;
 font-size: 80%;
 padding-right: 0.5em;

} 

td.labeltop, td.label, td.value {
  padding-top: 0.25em;
}

div.submit {
 text-align: right;
}

div.submit .extra-buttons {
 text-align: left;
}
