
div#nav {
 position: absolute;
 left: 0;
 font-size: 80%;
 top: 7.2em;
 width: 11em;
 background: #fff;
 -moz-border-radius-bottomright: 0.5em;

}

div#nav ul {
 padding-left: 0.5em;
 margin-left: 0;
 padding-right: 0.5em;
  list-style-type: none;

}

div#nav li {
 padding: 0.125em;

}

div#nav .bullet {
 display: none;
}

div#nav .separator {
display: none;
}


div#nav a, div#page-navigation a{
 text-decoration: none;
 color: #000;
}

div#nav a:hover, div#page-navigation a:hover {
 text-decoration: underline;
}



div#nav a.selected, div#page-navigation a.selected {
  font-weight: bold;
}


div#nav a.selected:after {
/* content: " > " */
}

div#page-navigation {
 background: white;
 

}


div#page-navigation ul {

}

div#page-navigation ul#page-menu{
 padding-left: 9em;
 padding-top:0.5em;
 padding-bottom:0.5em;

}

div#page-navigation ul#actions-menu {
 float: right;
 margin-top: 0em;
 padding: 0.5em;

 spacing: 0;

 background: #dedede;
 border-left: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 -moz-border-radius-bottomleft: 0.5em;
}



div#page-navigation ul li{
 display: inline;

}


ul.page-navigation ul.page-menu {
 float: right;

}
