table.ticket-list, table.queue-summary, table.collection {
  margin-top: 0.75em;
  font-size: 0.9em;
  border: 1px solid #aaa;
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;


}

table.queue-summary tr>*:first-child {
 padding-left: 1em;

}


table.queue-summary tr>*:last-child {
 padding-right: 1em;

}

table.ticket-list a, table.queue-summary a, table.collection a  {
  font-weight: bold;
}


table.ticket-list th.collection-as-table, table.collection th.collection-as-table {
  background: #ddd;
 font-size: 0.9em;
  margin-bottom: 0.5em;
  text-align: left;

}


table.queue-summary th.collection-as-table {
 font-size: 0.9em;
  margin-bottom: 0.5em;
  text-align: right;

}

table.queue-summary th.collection-as-table:first-child {
  text-align: left;

}


tr.collection-as-table+tr.collection-as-table th {
 border-bottom: 2px solid grey;

}





a:hover  {
  text-decoration: underline;
}


 a {
  color: #000;
  text-decoration: none;
}


 table.queue-summary td {
  background: #efefef;
  border-bottom: 1px solid #ccc;
}



tr.evenline td {
  background: #eee;
}

tr.oddline td {
  background: #fff;

}

tr.evenline td, tr.oddline td {
 border-top: 1px solid  #aaa;
 padding-top: 0.5em;
} 



tr.evenline+tr.evenline td, tr.oddline+tr.oddline td{
 padding-top: 0;
 border: none;
}



table.ticket-list td:first-child, table.ticket-list th:first-child {
  padding-left: 0.5em;
}


