table.ticket-list, table.queue-summary {
  padding-right: 1em;
  font-size: 0.9em;
}


table.ticket-list a, table.queue-summary a {
  font-weight: bold;
}


th.collection-as-table {
 font-size: 0.9em;
  margin-bottom: 0.5em;
  text-align: left;

}

tr.collection-as-table+tr.collection-as-table th {
 border-bottom: 2px solid grey;

}





a:hover  {
  text-decoration: underline;
}


 a {
  color: #000;
  text-decoration: none;
}


 table.queue-summary td {
  background: #efefef;
  border-bottom: 1px solid #ccc;
}



tr.evenline td {
  background: #eee;
}

tr.oddline td {
  background: #fff;

}

tr.evenline td, tr.oddline td {
 border-top: 1px solid  #aaa;
 padding-top: 0.5em;
} 



tr.evenline+tr.evenline td, tr.oddline+tr.oddline td{
 padding-top: 0;
 border: none;
}



table.ticket-list td:first-child, table.ticket-list th:first-child {
  padding-left: 0.5em;
}


