
#comp-Search-Build #body {
    position: relative;
}

#comp-Search-Build #editquery, #comp-Search-Build #editsearches{
  position: absolute;
  margin-top: 0.2em;
  right: 1em;
  width: 40%;
  top: 1em;
/*  margin-top: -1em; */
}



#comp-Search-Build #editsearches {
  top: 24em;
}


#comp-Search-Build #pick-criteria {
 width: 58%;
 padding-top: 0.2em;
 overflow-x: scroll;
 margin-top: -0.1em;
}

#comp-Search-Build .submit {
 width: 58%;

}


#comp-Search-Build #sorting.titlebox {
 width: 55%;
 padding-right: 1em;
}

#comp-Search-Build #columns {


 
}

#comp-Search-Build #formatbuttons {
 width: 100%;
}



.search-result-views {
 position: absolute;
 top: 0;
 right: 0;
 margin-top: -2px;
 margin-right: 0em;
 padding: 0.25em;
 padding-left: 0.5em;
 padding-right: 0.5em;
 background-color: #ccc;
 border-left: 1px solid #999;
 border-bottom: 1px solid #999;
 -moz-border-radius-bottomleft: 0.5em;
 -webkit-border-bottom-left-radius: 0.5em;
}



.search-result-views li {

 display: inline;
}

.search-result-views li:after  {
 content: " · ";
}

.search-result-views li:last-child:after  {
 content: "";

}


.refresh {

float: left;
}
