.accordion-item {
  border-bottom: 1px solid #E0E6EC;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-title {
  background: #FFF;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  font-weight: 500;
  width: 100%;
}

.accordion-title:after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: solid #B0B3BC;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  transition: transform .25s;
}

.accordion-title.collapsed:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordion-content {
  padding: 0 10px 10px;
}
