ul.list-menu .menu-item {
 font-size: 1.25em;
}
ul.list-menu {
 list-style: none;
    width: 35%;
}
ul.list-menu > li {
    margin-bottom: .5em;
    margin-top: .5em;
}
ul.list-menu .description {
 font-style: italic;
 display: block;
 padding: 0.2em 0 0 1em;
}

ul.list-menu ul {
 list-style: none;
 padding: 0.25em 0 0 1em;
}
ul.list-menu ul li {
 display: inline;
 margin-right: 0.5em;
}

#rt-portal .titlebox iframe {
    height: 100%;
    width: 100%;
    border: 0;
}

#rt-portal .titlebox {
    position: absolute;
    top: 1em;
    right: 1em;
    bottom: 3em;
    width: 55%;
    padding-bottom: 1em;
}

#rt-portal .titlebox-content {
    height: 100%;
    padding: 0;
}

#rt-portal .titlebox.rolled-up {
    bottom: auto;
    padding-bottom: 0;
}

.admin-hint {
    font-style: italic;
}

h2 + .admin-hint {
    margin-top: -1em;
}

textarea[name="SMIMECertificate"] {
    max-width: 50em;
    height: 25em;
}

table.upgrade-history .incomplete {
    font-weight: bold;
    color: #900;
}

table.upgrade-history .upgrade-history-parent .widget a {
  display: block;
  margin: 0;
  width: 20px;

  background: url(../../../static/images/css/rollup-arrow.gif) no-repeat;
  background-position: center 0;

  padding: 7px 0 0 0;
  overflow: hidden;
}

table.upgrade-history .upgrade-history-parent .widget a.rolled-up {
    background-image: url(../../../static/images/css/rolldown-arrow.gif);
}

#manage-user-data div.title {
    margin-bottom: 5px;
    font-weight: bold;
}

div.inline-row {
    margin-bottom: 10px;
    display: inline-flex;
    width: 100%;
}

div.inline-row div {
    max-width: 150px;
    display: block;
}

div.inline-row a {
    text-align: center;
    width: 85%;
}

div.inline-row i {
    text-align: left;
    width: 85%;
}

#comp-Admin .list-menu {
    float: left
}

#rt-portal .titlebox {
    position: relative;
    top: 0em;
    height: 27em;
    right: 0em;
    bottom: 3em;
    width: 50%;
    float: right;
    margin-left: 1em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#manage-user-data div.form-row i {
    text-align: left;
    display: block;
    font-size: 0.8em;
    white-space: normal;
}

#rights-inspector.error .results {
    color: red;
    font-weight: bold;
}

#rights-inspector.awaiting-first-result .results {
    opacity: 0.5;
}

#rights-inspector .results .result:nth-child(even) {
    background-color: rgb(236, 246, 252);
}

#rights-inspector .results .result:nth-child(even) .unused {
    background-color: white;
}

#rights-inspector .results .result .match {
    background-color: rgb(255, 253, 56);
    font-weight: bold;
}

#rights-inspector .results .result .name {
    display: block;
}

#rights-inspector .results .result .record.disabled .name {
    text-decoration: line-through;
}

#rights-inspector .results .result .detail {
    font-size: 80%;
    color: #AAA;
    display: inline-block;
}

#rights-inspector .results .result .primary {
    font-size: 80%;
    font-style: italic;
    display: inline-block;
    padding-left: 3px;
}

#rights-inspector .results .result .primary .name {
    display: inline-block;
}

#rights-inspector .results .result .primary .detail {
    display: none;
}

#rights-inspector .results .result .revoke {
    text-align: right;
}

#rt-help-text kbd {
    color: #111;
    border: 1px dashed #AAA;
    background-color: #F6F6F6;
    padding: 2px 3px;
}

#rt-help-text a {
    text-decoration: underline;
}

.configuration {
    padding-top: .1em;
}

.configuration .tab-content .tab-content {
    padding-top: 0;
}
.configuration .card.titlebox {
    margin-top: 0;
}
