.collection-as-table ul.cf-values {
    margin-top: 0;
    margin-bottom: 0;
}

.collection-as-table .user a {
    font-weight: inherit;
}

.results-count {
    font-size: smaller;
}
/* four nbsps. can't use margin- or padding-left since it makes a gap in
   the <a> tag's underline on hover, and can't use regular spaces since they
   collapse into one because it's HTML, and can't use &nbsp; because it's CSS */
.results-count::before {
    content: '\a0\a0\a0\a0';
}

.collection-as-table div.clip {
    overflow-y: hidden;
}

.collection-as-table a.unclip,
.collection-as-table a.reclip {
    font-size: smaller;
    font-weight: normal;
}

/* squeeze multiple-lined headers */
tr.collection-as-table+tr.collection-as-table th {
    padding-top: 0;
}

/* squeeze multiple-lined records */
tr:first-of-type.oddline .collection-as-table,
tr:first-of-type.evenline .collection-as-table {
    padding-top: 0.5rem;
    padding-bottom: 0.15rem;
}

tr.oddline+.oddline .collection-as-table,
tr.evenline+.evenline .collection-as-table {
    border: none;
    padding-top: 0;
    padding-bottom: 0.15rem;
}

/* add td here to have a bit higher precedence */
tr:last-of-type.oddline td.collection-as-table,
tr:last-of-type.evenline td.collection-as-table {
    padding-bottom: 0.5rem;
}
