.collection-as-table ul.cf-values {
    margin-top: 0;
    margin-bottom: 0;
}

.collection-as-table .user a {
    font-weight: inherit;
}

.results-count {
    font-size: smaller;
}
/* four nbsps. can't use margin- or padding-left since it makes a gap in
   the <a> tag's underline on hover, and can't use regular spaces since they
   collapse into one because it's HTML, and can't use &nbsp; because it's CSS */
.results-count::before {
    content: '\a0\a0\a0\a0';
}

.collection-as-table div.clip {
    overflow-y: hidden;
}

.collection-as-table a.unclip {
    font-size: smaller;
    font-weight: normal;
}
