.boxcontainer {
    width: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media (min-width: 900px) {
    .columns .boxcontainer {
        float: right;
    }
    .columns .boxcontainer:first-child {
        float: left;
        padding-right: 3em;
    }

    .col-1  { width:  8.3333333% }
    .col-2  { width: 16.6666666% }
    .col-3  { width: 25%         }
    .col-4  { width: 33.3333333% }
    .col-5  { width: 41.6666666% }
    .col-6  { width: 50%         }
    .col-7  { width: 58.3333347% }
    .col-8  { width: 66.6666666% }
    .col-9  { width: 75%         }
    .col-10 { width: 83.3333333% }
    .col-11 { width: 91.6666674% }
    .col-12 { width: 100%        }
}

