form {

    background: none;
    border: none;
    margin: 0;
}


.input-row .label {
  position: relative;
  text-align: right;
  width: 4em;
}

.input-row .input {
  position: relative;
  left: 1em;
  width: 10em;
  text-align: right;
}

.value {
  font-size: 1em;
}

.value.no-value {
    color: #666;
    font-style: italic;
}



div.button-row {
   text-align: right;
   padding-right: 0.5em;
}


.button {
    display: inline-block;
}
.button:hover {
    text-decoration:none;
    cursor: default;
}

.button, .button:visited, input[type=reset], input[type=submit], input[class=button], button {
   color: #fff;
   background: #3858a3;
   padding: 0.25em;
   padding-left: 0.5em;
   padding-right: 0.5em;
   -moz-border-radius: 0.5em;
   -webkit-border-radius: 0.5em;
   border-radius: 0.5em;
}

.button:hover, input.button:hover, button:hover, input[type=reset]:hover, input[type=submit]:hover, input[class=button]:hover {
   background: #1D3B7D;
}

.button:focus, input.button:focus, button:focus, input[type=reset]:focus, input[type=submit]:focus, input[class=button]:focus {
   background: #1D3B7D;
}

div.error div.error {
 border: 2px solid #aa0000;
 border-top: 1px solid #bb0000;
 border-left: 1px solid #bb0000;
 background-color: #fcc;
}

div.error .titlebox-title span.left {
  background-color: #f00;
  color: #fff;
  border: 1px solid #cc0000;
  border-right: 2px solid #bb0000;
  border-bottom: 2px solid #bb0000;

}


div.results .titlebox-title .left, div.results .titlebox {
  border: 1px solid #aa9;
  border-bottom: 2px solid #990;
  border-right: 2px solid #990;
}

div.results .titlebox-title .left {
  background: #ff9;
  border: solid #aa9;
  border-width: 1px 1px 0 1px;
}

div.results .titlebox,
div.error-titlebox {
  border: none;
  background: none;
  font-weight: bold;
}

div.results .titlebox-content {
  border: 1px solid #aa9;
  border-bottom: 2px solid #990;
  border-right: 2px solid #990;
  background: #ffc;
}

.results .titlebox-content > p:first-child,
.error .titlebox-content > p:first-child {
    margin-top: 0;
}

.results .titlebox-content > p:last-child,
.error .titlebox-content > p:last-of-type {
    margin-bottom: 0;
}

div.error-titlebox .titlebox-title span.left {
  border: none;
  border-right: 2px solid #b00;
  margin-left: 0;
  padding-left: 2.3em;
  background-color: #f00;
  color: #fff;
}

div.error-titlebox .titlebox-content {
    background-color: #fcc;
    padding: 1em;
}

div.error .titlebox-content {
  background-color: #fcc;
}

div#body>div.error {
  background-color: #fcc;
  padding: 1em;
}

div.error .titlebox-title .widget a {
  background-position: center -7px;
}

.label, .labeltop {
 text-align: right;
 padding-right: .5em;
 padding-top: .5em;
}

.cflabel {
 text-align: right;
 padding-right: .5em;
 width: 12em;
}

.value > ul {
    margin-top: 0;
    margin-bottom: 0;
}

td.cflabel {
    width: auto;
}

div.ticket-info-basics div.titlebox-content .labeltop{
  width: 10em;
}

div.submit {
 text-align: right;
}

div.submit .extra-buttons {
 text-align: left;
 float: left;
}


div.widget {
    padding-bottom: 0.5em;
    clear: both;
}

div.widget .hints {

  display: block;
  font-style: italic;
}

@media (max-width: 700px) {
    div.widget .label {
        text-align: left;
        width: auto;
        max-width: 100%;
        float: none;
    }

    div.widget .value,
    div.widget .hints {
        padding-left: 0;
        margin-left: 1em;
    }
}

.value .TimeUnits{
    margin-left: .5em;
    width: 7em;
}

.cfinvalidfield {
    font-style: italic;
    color: red;
}

form div.submit div.buttons {
    min-height: 2.8em;
}

form div.submit div.buttons div.back {
    position: relative;
    float: left;
    width: 50%;
    text-align: left;
}

form div.submit div.buttons div.next {
    position: relative;
    float: right;
    width: 50%;
}

.invalid {
    font-style: italic;
    color: red;
}

.messagebox-attachment-warning {
  display: none;
  background-color: #fcc;
  font-weight: bold;
  padding: .5em 2em;
  margin: .5em 0;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.messagebox-attachment-warning .ignore {
    display: none;
}

ul.selectable {
    list-style-type: none;
}

ul.selectable input[type=checkbox],
ul.selectable a {
    vertical-align: bottom;
}

#reuse-attachments {
    padding-top: 0.25em;
}

.ticket-info-attachments ul li {
    font-size: .8em;
}

.dropzone .dz-message {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.modal {
    width: auto;
}

/* query builder */

#formatbuttons {
    clear: both;
}

#ResetAuthTokenPrompt {
    display: block;
    text-align: right;
    font-weight: bold;
    text-decoration: underline;
}

#SimpleSearchForm {
    margin: 0 1em;
} 

#SimpleSearchForm input[name="q"] {
    width: 100%;
}

.button,
.button:visited,
.button:focus,
input[type=reset],
input[type=submit],
input[class=button],
button {
  color: #fff;
  background: #4868b3;
}

.button:focus,
input.button:focus,
button:focus,
input[type=reset]:focus,
input[type=submit]:focus,
input[class=button]:focus,
.button:hover,
input.button:hover,
button:hover,
input[type=reset]:hover,
input[type=submit]:hover,
input[class=button]:hover {
  background: #3D5B9D
}

.button:active,
input.button:active,
button:active,
input[type=reset]:active,
input[type=submit]:active,
input[class=button]:active {
  background: #1D3B7D
}

.button,
input[type=reset],
input[type=submit],
input[class=button],
button {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  width: auto;
}

.form-row {
  margin-top: 0.5em;
}

.col-auto .datepicker {
  width: 17em;
}

span.current-value.form-control {
  border: none;
  padding-left: 0;
  margin-top: 1px; /* because input box border is 1px */
}

.list-group-item label {
  margin-bottom: 0;
}

.list-group-compact .list-group-item,
.list-group-borderless .list-group-item {
  border: none;
}

.list-group-compact .list-group-item {
  padding: 0.25em;
}

.bootstrap-select button:focus {
  background: #f8f9fa;
}

.input-group input.btn {
  margin-left: 0.5em;
}

.input-group-text {
  line-height: 1;
}

.form-row .label {
  padding-top: calc(0.375rem + 1px);
}

.btn {
  font-weight: 500;
}

ul li .dropdown-item.active span,
ul li .dropdown-item:active span {
  color: #fff;
}
