/* body */

html {
    font-size: 13px;
}

div#rt-header-container {
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 3px 6px #70899929;
    height: 3em;
}

div#body {
    padding: 0 2.5em;
    margin-top: 4em;
    margin-right: 0;
    margin-bottom: 0em;
    background: #fff;
    z-index: 1;
}

@media (max-width: 800px) {
    div#body {
        padding: 3em 4.875%; /* 3em at 13px font size => 39px => 39/800 => .04875 */
    }
    /* at narrow widths we'll have broken into a single column, so the default
       padding-right just causes the layout to degrade */
    .boxcontainer {
        padding-right: 0;
    }
}

@media (max-width: 700px) {
    div#body {
        padding: 3em 0;
    }
}

div#footer {
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background: #2C3539;
}

div#footer > div {
    padding-left: 0;
    padding-right: 0;
}

div#footer #time {
    display: none
}

div#footer #bpscredits {
    text-align: center;
    background: url(../../../static/images/bpslogo_wt_sm.svg) no-repeat top center !important;
    padding-top: 2.5em;
}

div#footer a {
    color: white;
}

/* Override the default bootstrap p margin to reduce bottom spacing in footer */
div#footer p {
    margin-bottom: .5rem;
}

/* logo stuff */

div#logo {
    position: absolute;
    right: 2px;
    top: 0;
    height: 2.8em;
}

div#logo a img {
    border: 0;
    height: 100% !important;
    width: auto !important;
    float: right;
}

div#logo .rtname {
    position: relative;
    font-weight: bold;
    text-align: center;
    top: 0.7em;
    padding-right: 1em;
    float: left;
}

@media (max-width: 800px) {
    div#logo .rtname {
        width: 0;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 0; /* otherwise the text will overflow into the padding */
    }
}

div#quickbar,
div#logo {
    font-size: 0.9em
}

div#quickbar a,
div#logo a {
    color: #000
}

div#quickbar {
    background: #fff;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    height: 1em;
}

div#header {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    height: 3.2em;
    border-bottom-color: #547CCC;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

div#header h1 {
    position: absolute;
    left: 2em;
    top: 0.5em;
    height: 1.4em;
    font-size: 1.4em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h1 {
  color: #31363E;
}

h2 {
  color: #31363E;
}

h3 {
  color: #31363E;
  line-height: 1.5;
}

p {
  color: #5C6273;
  line-height: 1.3;
}

ul, ol {
  color: #31363E;
  font-weight: 400;
  line-height: 1.3;
}

ul li span, ol li span {
  color: #5C6273;
}

ul ul {
  list-style-type: disc;
}

ol ol {
  list-style-type: upper-alpha;
}

.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 5em;
}
