path.link {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    cursor: pointer;
}

g text {
    cursor: text;
}

g circle.node-selected {
    fill: #98b9eb !important;
}

.status-type-active {
    fill: #547CCC;
}

.status-type-inactive {
    fill: #4bb2cc;
}

.status-type-initial {
    fill: #599ACC;
}

.dragline {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    cursor: pointer;
}

.lifeycycle-ui-edit-node {
    position: absolute;
    z-index: 99;
    width: 400px;
}

.lifeycycle-ui-edit-link {
    position: absolute;
    z-index: 99;
    width: 500px;
}

.svg-content-responsive {
    display: inline-block;
}

svg .rect {
    fill: gold;
    stroke: steelblue;
    stroke-width: 5px;
}

#lifecycle-ui-tooltip {
    position: absolute;
    z-index: 999;
}

.lifecycle-ui-status-menu {
    position: absolute;
    z-index: 99;
}

.lifecycle-ui-viewer .link {
    stroke: #888;
    cursor: crosshair;
}

.lifecycle-ui-viewer .marker {
    fill: #888;
}


.lifecycle-ui-viewer .status-active {
    cursor: pointer;
}

.lifecycle-ui-viewer .link-active {
    stroke: #87a96b;
    cursor: pointer;
}

.lifecycle-ui-viewer .marker-active,
.lifecycle-ui-viewer .status-current {
    fill: #87a96b;
}
