.login-body .action-results {
    list-style: none;
}

#login-box {
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}

#login-box .input-row {
  margin-bottom: 1em;
  height: 1.5em;
}

#login-box .input-row .label,
#login-box .input-row .input {
  position: static;
  padding: 0;
  margin: 0;
}

#login-box .input-row .label {
  display: inline-block;
  width: 13em;
  float: left;
  text-align: right;
  margin-top: .75em;
}

#login-box div.button-row {
  padding-right: 1em;
}

@media (max-width: 400px) {
  #login-box .input-row {
    margin-bottom: 2em;
    height: 2.5em;
  }
  #login-box .input-row .label {
    width: 8em;
  }
}

#login-box .input-row .input {
  display: block;
  overflow: hidden;
  width: auto;
  padding: .25em 1.5em .25em 1.5em;
}
#login-box .input-row .input input {
  width: 100%;
}
#login-box hr {
 display: none;
}

@media (max-width: 300px) {
  #login-box .input-row {
    height: auto;
  }
  #login-box .input-row .label {
    width: auto;
    float: none;
  }
  #login-box .input-row .input {
    padding: 0;
    overflow: visible;
  }
}


#quick-personal {
    position: absolute;
    z-index: 9999;
    left: 0;
    /* This avoids a very weird bug in Chrome where opening a select causes a
     * hover event at (0,0), which will be over top of the menu sometimes */
    top: 1px;
}

#quick-personal #not-logged-in {
    display: block;
    padding-top: 0.5em;
    padding-left: 1em;
}

.redirect-warning tt {
    display: block;
    margin: 0.5em 0 0.5em 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

#login-box div.login-help {
    text-align: center;
}

#login-box .titlebox-title .left {
    padding-left: 0em
}
