#login-box {
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}


#login-box hr {
 display: none;
}

#quick-personal {
    position: absolute;
    z-index: 1000;
    left: 0;
    /* This avoids a very weird bug in Chrome where opening a select causes a
     * hover event at (0,0), which will be over top of the menu sometimes */
    top: 1px;
}

#quick-personal #not-logged-in {
    display: block;
    padding-top: 0.82em;
    padding-left: 1em;
}

.redirect-warning tt {
    display: block;
    margin: 0.5em 0 0.5em 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

#login-box div.login-help {
    text-align: center;
}

#login-box .titlebox-title .left {
    padding-left: 0em
}
