.hide, .hidden { display: none !important; }

.clear { clear: both; }

* html .clearfix {
    height: 1%; /* IE5-6 */
}
.clearfix {
    display: inline-block; /* IE7xhtml*/
}
html[xmlns] .clearfix { /* O */
    display: block;
}
.clearfix:after { /* FF, O, etc. */
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

hr.clear {
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1px;
}

/* Custom fields */

.cflabel .name { font-weight: bold; }
.cflabel .type { font-style: italic; }

.query-stacktrace-toggle {
    float: right;
}

/* jQuery UI overrides */
.ui-widget {
    font-family: arial,helvetica,sans-serif !important;
}

textarea.messagebox, #cke_Content, #cke_UpdateContent {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.selection-box {
    min-width: 300px;
}

.datepicker {
    width: 17em;
}

.dashboard-subscription tr.frequency .value input {
    margin-bottom: 0.75em;
}

/* infinite history error message */

.error-load-history {
    background-color: #b32;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.error-load-history a {
    text-decoration: underline !important;
    color: white !important;
}

/* */

.comment {
    padding-left: 0.5em;
    color: #999;
}

#comp-Ticket-ShowEmailRecord #header {
    top: 0em;
}

#comp-Ticket-ShowEmailRecord #body {
    margin-left: 1em;
    margin-top: 1em;
    overflow: auto;
}

#download-my-data div.form-row i {
    text-align: left;
    display: block;
    font-size: 0.8em;
    white-space: normal;
}

.modal {
  background: rgb(0, 0, 0, .70); 
  z-index: 10000; 
}

/* manipulate the svg image for selected bookmarks */
svg.bookmark-selected path {
    stroke: black;
    stroke-width: 50;
    fill: #46B346;
}

/* borders for cog icons */
svg.icon-bordered {
    width: 1em !important;
    height: 1em !important;
    border: solid 0.05em #eee;
    border-radius: 0.1em;
    padding: 0.2em 0.25em 0.15em;
}

/* styling for helper text svg images */
svg.icon-helper {
    padding-left: 0.2em;
    color: #666;
}

/* row colouring */
.oddline {
    background-color: rgba(0, 0, 0, 0.05);
}

legend {
  font-size: 1rem;
}
