.sf-menu {
    width: 100%;
    margin-bottom: 0;
}

.sf-menu li:hover {
    background-color: #CFDEFF
}

.sf-menu li,
.sf-menu li li,
.sf-menu li li li {
    background-color: #fff
}

#page-menu.sf-menu li:hover ul,
#page-menu.sf-menu li.sfHover ul {
    top: 2.5em
}

#main-navigation {
    position: absolute;
    top: 1px;
    left: 0;
    z-index: 9999;
    text-color: #000;
}

#main-navigation .sf-menu a,
#main-navigation .sf-menu a:hover {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-color: #fff;
    color: #000;
}

#main-navigation a {
    border-top: none
}

#main-navigation li li a {
    border-top: 1px solid white
}

#app-nav.sf-menu > li:first-child > a {
    border-left: none
}

#main-navigation #app-nav > li,
#main-navigation #app-nav > li > a {
    background-color: transparent
}

#page-navigation {
    position: absolute;
    top: 6.5em;
    right: 0;
    left: 0;
    padding-right: 3em;
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
}

#page-navigation #page-menu {
    margin-top: 0.2em;
    float: right;
    width: auto;
}

#page-navigation .sf-menu li {
    background-color: transparent
}

#page-navigation .sf-menu li li,
#page-navigation .sf-menu li li li {
    background-color: #fff
}

#page-navigation .sf-menu a:visited,
#page-navigation .sf-menu a {
    border: none;
    color: #000;
}

/* to stop a "flash" of an unstyled menu on an older browser,  hide the menu until superfish has initialized it */

#app-nav.toplevel {
    display: none
}

#app-nav.toplevel.sf-menu {
    display: block
}

#page-menu.toplevel {
    display: none
}

#page-menu.toplevel.sf-menu {
    display: block
}

#topactions {
    position: absolute;
    background: transparent;
    top: 3.2em;
    right: 0em;
    padding-right: 0.7em;
    width: auto;
    min-width: 42em;
    font-size: 0.9em;
    z-index: 99;
}

#topactions form * {

}

#topactions input,
#topactions button {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    vertical-align: middle;

    width: 8em;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

#topactions .asset-search input[type="search"],
#topactions .article-search input[type="search"]
 {
    width: 16em;
}

@media (max-width: 900px) {
    #topactions .create-wide   { display: none; }
    #topactions .create-medium { display: block; }
    #topactions .create-narrow { display: none; }

    #topactions input[type="search"] {
        width: 2em;
    }
    #topactions form {
        margin-left: 0;
    }

    div#header h1 {
        right: 10em;
    }
}

@media (max-width: 600px) {
    #topactions .create-wide   { display: none; }
    #topactions .create-medium { display: none; }
    #topactions .create-narrow { display: block; }

    #topactions input[type="submit"], #topactions input.button {
        min-width: 2em;
    }

    div#header h1 {
        right: 5em;
    }
}

#topactions input[type="search"]:focus {
    width: 16em;
    -webkit-transition: width 0.25s ease-in-out;
    -moz-transition: width 0.25s ease-in-out;
    -ms-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

#topactions #simple-search .field {
    margin-left: 1em;
    color: #787;
}

#topactions #simple-search .field:focus {
    color: #000
}

.sf-menu ul {
    background-image: none;
    padding: 0;
}

.sf-menu.sf-shadow ul {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: 2px 2px 8px -2px #999;
    -webkit-box-shadow: 2px 2px 8px -2px #999;
    box-shadow: 2px 2px 8px -2px #999;
}

/* Pin page menu to top left corner once you scroll past it */

#page-navigation #page-menu.pinned {
    position: fixed;
    top: 0;
    right: 0;
    left: auto;
    width: auto;
    margin-top: 0;
    background: white;
    border-left: 1px #aaa solid;
    border-bottom: 1px #aaa solid;
    border-radius: 0 0 0 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    /* stupid vendor prefixes */
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

#page-menu.pinned li:hover ul,
#page-menu.pinned li.sfHover ul {
    border-left: 1px #aaa solid;
    border-right: 1px #aaa solid;
    z-index: -1 !important; /* relative to current stacking context */
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

/* round off the corner of the first menu item so it matches the container */

#page-menu.pinned > li:first-of-type,
#page-menu.pinned > li:first-of-type > a {
    border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
}

#topactions input.field {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#topactions .bootstrap-select.form-control {
    height: auto;
}

/* Fix Queue name position in Queue select for Firefox */
@-moz-document url-prefix() {
    #topactions .bootstrap-select .dropdown-toggle .filter-option {
        margin-top: 5px;
    }
}

.sf-sub-indicator {
    display: none;
}

.sf-menu a.sf-with-ul {
    padding-right: 1rem;
}

.sf-menu a.sf-with-ul:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 0;
    vertical-align: middle;
    display: inline-block;
}

ul.toplevel.sf-menu > li > a.sf-with-ul:after {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' id='i-chevron-down' viewBox='0 0 12 8' height='100%' width='100%' fill='none' stroke='%2331363E' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M1 1 l5 5 5 -5' /></svg>") no-repeat center center;
    margin-left: 6px;
    position: relative;
}

ul.toplevel.sf-menu > li > ul > li a.sf-with-ul:after {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' id='i-chevron-right' viewBox='0 0 7 12' height='100%' width='100%' fill='none' stroke='%2331363E' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'><path d='M1 1 l5 5 -5 5' /></svg>") no-repeat center center;
    position: absolute;
    margin-top: 2px;
    right: 5px;
}

#app-nav {
    padding: 0.5rem;
}

#topactions form {
    margin-top: 0.5em;
}

#topactions form input.btn {
    border-color: #4868b3;
}
