@media print { 
    * {
        position: static;
        overflow: visible !important;
    }

    body {
        margin: 0;
        padding: 0;
        font-size: 10pt;
        background: white !important;
    }

    div#body {
        background: transparent;
        margin-top: 3em !important;
        margin: 0 !important;
        padding: 0 !important;
        border-style: none !important;
        border: none !important;
        -webkit-border-radius: none !important;
        -moz-border-radius: none !important;
        border-radius: none !important;
    }

    div#header h1 {
        margin-bottom: 1em !important;
        padding-left: 1em !important;
        position: static !important;
        height: auto;
        width: auto;
        overflow: visible;
        color: black !important;
        padding: 0 !important;
    }

    #header {
        padding: 0 !important;
        background: transparent !important;
        position: inherit !important;
    }

    #quickbar,
    #app-nav,
    #page-menu,
    #main-navigation,
    #page-navigation,
    .titlebox-title .widget,
    .titlebox-title .right,
    .ticket-info-links .titlebox-content .create,
    div.transaction div.metadata span.actions,
    div.transaction div.content div.downloadattachment,
    #comp-Search-Results #body .refresh,
    .search-result-actions,
    #comp-Search-Chart .chart-meta,
    #footer,
    #topactions,
    #logo,
    div.summary + br {
        display: none
    }

    /* Hide "Click to load" and "Loading" message. Loaded history is #id > .history */

    #deferred_ticket_history > .titlebox,
    #delayed_ticket_history > .titlebox {
        display: none
    }

    a:link,
    a:visited {
        font-weight: bold !important
    }

    div.transaction .metadata .type {
        display: none
    }

    div.titlebox-title .left {
        border: 0 !important;
        color: black !important;
        margin: 0 !important;
        padding-left: 0 !important;
        background-color: transparent !important;
    }

    .titlebox.rolled-up .titlebox-title .left:after {
        content: " [-]";
        font-weight: normal;
    }

    /* outer Ticket Metadata titlebox gets no padding, but inside ones do below */

    .summary .titlebox-content {
        background: transparent !important
    }

    div.summary .ticket-summary div.titlebox-content {
        padding: 0.5em 1em 1em 1em !important
    }

    div.titlebox-title .left * {
        color: black !important;
        background: transparent !important;
    }

    div.messagebody a[href]:after {
        text-decoration: underline !important;
        content: " (" attr(href) ") ";
    }

    div.results {
        background: #ccc
    }

    .messagebody {
        orphans: 2;
        widows: 2;
    }

    div.titlebox-title {
        page-break-after: avoid;
        border: 0 !important;
    }

    .history-container,
    div.transaction {
        border: 0 !important
    }

    div.transaction {
        page-break-inside: avoid
    }

    /* hide "Ticket metadata" */

    div.summary > div > div.titlebox > div.titlebox-title {
        display: none !important
    }

    .value {
        font-weight: bold !important
    }

    .label,
    .label a,
    .labeltop,
    .labeltop a {
        font-weight: normal !important
    }

    div.titlebox {
        margin-bottom: 0
    }

    /* for web2 and ballard*/

    div.titlebox {
        border: 0 !important
    }

    div.history .titlebox-title {
        padding: 0 !important;
        margin: 0 !important;
    }

    /* for web2 */

    #page-action-menu {
        display: none
    }

    /* form elements */

    input,
    select,
    option,
    button,
    .button {
        background: white !important;
        color: black !important;
        border: 1px solid #666 !important;
    }

    option {
        border: none !important
    }

    option[selected] {
        font-weight: bold !important
    }
}
