.rights-editor .add-principal .nav-link {
  background: inherit;
  border: none;
}

.rights-editor .custom-checkbox label {
  width: 100%;
}

.rights-editor .custom-checkbox span.rightname {
  float: right;
}

.rights-editor .tab-aggregates-checked-rights {
  background-color: #eee;
}

.rights-editor li.category {
  margin-bottom: 0.5em;
}

.rights-editor li.category:not(:first-child) {
  margin-top: 0.5em;
}

.principal-tabs .nav-tabs .nav-item {
  margin-bottom: 0.25em;
}
