table.table tbody {
    border: none;
}

table.table th {
    border: none;
}

table.queue-summary th.collection-as-table:first-child {
    text-align: left
}

table.queue-summary a,
table.collection-as-table a {
    font-weight: bold
}

table.collection-as-table th.collection-as-table a,
table.queue-summary th.collection-as-table a {
    color: #3858a3
}

table.collection-as-table th.collection-as-table,
table.queue-summary th.collection-as-table,
.article-headers .label {
    color: #3858a3;
    font-weight: 500; /* 500 is between regular (400) and bold (700) */
}

table.queue-summary th.collection-as-table {
    text-align: right
}

.chart-wrapper .query {
    clear: both;
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
}

.table th {
  font-weight: 300;
  vertical-align: middle;
}

.table td {
  color: #5C6273;
  padding: 7px;
  vertical-align: middle;
}

li.page-item > a.rt-page-link {
    color: #3858a3;
}

li.page-item.active > a.page-link {
    background-color: #3858a3;
    border-color: #3858a3;
}

.page-jump {
    width: 200px;
}

/* bootstrap sets border-style to solid that adds a line between rows */
thead, tbody, tfoot, tr, td, th {
  border-style: none;
}
