/* More about requestor ticket lists */

.more-about-requestor-tickets {
    background: none;
    border: none;
    font-family: arial,helvetica,sans-serif !important;
    padding: 0 !important;
}

.more-about-requestor-tickets .ui-tabs-nav {
    background: none;
    border: none;
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.more-about-requestor-tickets .ui-tabs-nav li {
    border: none !important;
    background: none !important;
    padding-right: 1em;
}

.more-about-requestor-tickets .ui-tabs-nav a {
    padding: 0 !important;
    margin: 0 !important;
    color: black !important;
}

.more-about-requestor-tickets .ui-tabs-nav a:hover,
.more-about-requestor-tickets .ui-tabs-nav .ui-tabs-active a {
    text-decoration: underline;
}

.more-about-requestor-tickets .ui-tabs-panel {
    border: none;
    padding: 0;
    margin: 0;
    color: black !important;
}

.more-about-requestor-tickets .ui-tabs-panel a {
    color: black !important;
}

.ticket-info-reminders .save {
    text-align: right;
}

.plain-text-white-space {
 white-space: pre-wrap;
 font-family: monospace;
}

.plain-text-white-space br {
    display: none;
}

.dependency-status {
    font-style: italic;
}
.dependency-status .summary {
    font-weight: bold;
    font-style: normal;
}

.summary {
    padding-top: .1em;
}

div#body .ticket-info-basics,
div#body .ticket-info-people,
div#body .ticket-info-dates,
div#body .ticket-info-links,
div#body .ticket-info-reminders {
    padding-top: .1em;
}

.unread-messages .titlebox-content :link {
    text-decoration: underline;
}

.ticket-inactive {
  text-decoration: line-through;
  color: #666
}

div.requestor-ticket-links {
    text-align: left;
    font-size: 0.8em;
    padding-top: 0.25em;
}

.ticket-info-requestor .more-about-requestor-extra,
.ticket-info-requestor .comments-about-user,
.ticket-info-requestor .more-about-requestor-tickets,
.ticket-info-requestor .more-about-user-groups
{
    margin: 0.5em 0 1em 0;
}

.ticket-info-requestor .comments-about-user .label,
.ticket-info-requestor .more-about-user-groups .label,
.ticket-info-requestor .more-about-requestor-tickets .label
{
    display: block;
    font-weight: bold;
    text-align: left;
}

.ticket-info-requestor .more-about-user-groups .value ul,
.ticket-info-requestor .more-about-requestor-tickets ul
{
    margin-top: 0;
    margin-bottom: 0;
}

.unset-fields-hidden .unset-field {
    display: none !important;
}

.ticket-info-attachments .revision {
    font-size: 85%;
}

.transaction .downloadattachment a,
.transaction .message-header-value,
.ticket-info-attachments .filename {
    word-break: break-word;
}

ul.select-queue {
    list-style-type: none;
    margin-left: 0;
    padding-left: 1.5em;
}
ul.select-queue li + li {
    margin-top: .5em;
}
ul.select-queue li a:visited {
    color: #000;
}

.ticket-merge-text {
    font-style: italic;
}

.ticket-merge-position {
    padding-left: 2em;
}

#create-linked-ticket {
    padding-top: 15px;
}
