#pick-criteria .form-row .label .bootstrap-select {
    margin-top: -0.5em;
}

#pick-criteria .form-row .form-check {
    margin-top: 0.75em;
}

#pick-criteria .value .form-row {
    margin-top: 0;
}

#pick-criteria .value {
    max-width: 500px;
}
