#quickbar {
    position: relative;
    padding-bottom: -2em;
    border-bottom: 2.5em solid #000084;
}

#logo {
    position: relative;
    width: 216px;
    left: 10px;
    top: 0;
}

#logo img { border: none; }

#logo div.rtname {
    position: absolute;
    left: 1em;
    bottom: -1.5em;
    font-weight: bold;
    font-size: 1.3em;
    background: #000084;
    color: white;
}

#quickbar #quick-personal {
    display: inline;
    color: #888;
    padding: 0.5em 1em 0 0;
    float: right;
}

#quickbar #quick-personal span {
    font-weight: bold;
}

#quickbar #quick-personal :link,
#quickbar #quick-personal :visited
{
    color: #888;
    font-weight: bold;
}

#quickbar #quick-personal :link:hover,
#quickbar #quick-personal :visited:hover
{
    color: black;
}

#quickbar #topactions {
    color: white;
    font-size: 0.9em;
    position: absolute;
    right: 1em;
    bottom: -2.3em;
    background: #000084;
}
