.titlebox {
    margin: 0.5em 0;
}

.titlebox .titlebox-title {
    background: #069;
    padding: 0.2em 0.5em;
    color: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-weight: bold;
    position: relative;
}

.titlebox .titlebox-title .right {
    position: absolute;
    right: 1.5em;
    font-size: 0.9em;
}

#body .titlebox .titlebox-title :link, #body .titlebox .titlebox-title :visited {
    color: white;
}

#body .titlebox .titlebox-title .widget :link, #body .titlebox .titlebox-title .widget :visited {
    color: black;
}
