.message-stanza-folder {
    color: #500050;
    font-size: 0.9em;
    padding: 0.2em;
    cursor: pointer;
}

.message-stanza-folder.open {
    color: #ccc;
}

.message-stanza-folder:before, .message-stanza-folder:after {
    content: " - ";
}

.message-stanza.closed {
    display: none;
}

/* Message quoting */

.message-stanza {
    color: #000;
}

.message-stanza > blockquote {
    margin: 0 0 0 1ex;
    border-left: 2px #ccc solid;
    padding-left: 1ex;
}

.message-stanza .message-stanza{
    color: #500050;
}
.message-stanza .message-stanza > blockquote {
    border-color: #500050;
}

.message-stanza .message-stanza .message-stanza{
    color: #1a1aa6;
}
.message-stanza .message-stanza .message-stanza > blockquote {
    border-color: #1a1aa6;
}

.message-stanza .message-stanza .message-stanza .message-stanza {
    color: #006633;
}
.message-stanza .message-stanza .message-stanza .message-stanza > blockquote {
    border-color: #006633;
}

.message-stanza .message-stanza .message-stanza .message-stanza .message-stanza {
    color: #003366;
}
.message-stanza .message-stanza .message-stanza .message-stanza .message-stanza > blockquote {
    border-color: #003366;
}

.message-stanza .message-stanza .message-stanza .message-stanza .message-stanza .message-stanza {
    color: #993366;
}
.message-stanza .message-stanza .message-stanza .message-stanza .message-stanza .message-stanza > blockquote {
    border-color: #993366;
}
