.myrt .boxcontainer {
    width: 100%;
}

@media (min-width: 900px) {
    .myrt .boxcontainer {
        float: right;
        width: 30%;
        padding: 0;
    }
    .myrt .boxcontainer:first-child {
        float: left;
        width: 66%;
    }
}

table.dashboard {
    width: 100%;
    border: 0;
}

.quick-create .select-queue {
   width: 12em;
}

.quick-create input[type="text"], .quick-create textarea {
    width: 100%;

}
