<& /Admin/Elements/Header, Title => loc('Modify global group rights') &>
<& /Admin/Elements/SystemTabs &>  
<& /Elements/ListActions, actions => \@results &>

  <FORM METHOD=POST ACTION="GroupRights.html">
      
<& /Elements/TitleBoxStart, title => loc('Modify global group rights.')&>
      
<h1><&|/l&>System groups</&></h1>
<TABLE>
% $Groups = RT::Groups->new($session{'CurrentUser'});
% $Groups->LimitToSystemInternalGroups();
%	while (my $Group = $Groups->Next()) {
  <TR ALIGN=RIGHT> 
	<TD VALIGN=TOP>
	    <% loc($Group->Type) %>
		  </TD>
	  <TD>
	    <& /Admin/Elements/SelectRights, PrincipalId => $Group->PrincipalId,
        ObjectType  => 'System' &>
	  </TD>
	</TR>
% }
</TABLE>
<h1><&|/l&>Roles</&></h1>
<TABLE>
% $Groups = RT::Groups->new($session{'CurrentUser'});
% $Groups->LimitToRolesForSystem();
%	while (my $Group = $Groups->Next()) {
  <TR ALIGN=RIGHT> 
	<TD VALIGN=TOP>
	    <% loc($Group->Type) %>
		  </TD>
	  <TD>
	    <& /Admin/Elements/SelectRights, PrincipalId => $Group->PrincipalId,
        ObjectType  => 'System'&>
	  </TD>
	</TR>
% }
</TABLE>
<h1><&|/l&>User defined groups</&></h1>
<TABLE>
% $Groups = RT::Groups->new($session{'CurrentUser'});
% $Groups->LimitToUserDefinedGroups();    
%	while (my $Group = $Groups->Next()) {
  <TR ALIGN=RIGHT> 
	<TD VALIGN=TOP>
	    <% $Group->Name %>
		  </TD>
	  <TD>
	    <& /Admin/Elements/SelectRights, PrincipalId => $Group->PrincipalId,
        ObjectType  => 'System' &>
	  </TD>
	</TR>
% }
</TABLE>
            
      <& /Elements/TitleBoxEnd &>
      <& /Elements/Submit, Caption => loc("Be sure to save your changes"), Reset => 1 &>
      
  </FORM>
  
<%INIT>
 
  #Update the acls.
  my @results =  ProcessACLChanges(\%ARGS);


my $Groups;
    
</%INIT>

<%ARGS>
</%ARGS>
