%# $Header: /raid/cvsroot/rt/webrt/Search/Bulk.html,v 1.2 2001/11/06 23:07:01 jesse Exp $
%# Copyright 1996-2001 Jesse Vincent <jesse@fsck.com>
<& /Elements/Header, Title => loc("Bulk ticket update") &>
<& /Elements/Tabs &>

<& /Elements/ListActions, actions => \@results &>

<FORM METHOD=POST>
<TABLE WIDTH=100% border=0 cellpadding=3 CELLSPACING=0>
<TR>
<TH><&|/l&>Update</&></TH>
%foreach my $col (@cols) {
% my $colalias = $col;
% $colalias =~ s/(Obj\-\>|)(Name|AsString)//;

<TH><% loc($colalias) %>&nbsp;</TH>
%}
</TR>

<%PERL>

my $i;


      
$session{'tickets'}->RedoSearch();
while (my $Ticket = $session{'tickets'}->Next) {
 $i++;
 if ($i % 2) {
     $bgcolor = "#dddddd";
 }
 else {
     $bgcolor = "#ffffff";
 }
      </%PERL>
<TR bgcolor="<%$bgcolor%>">
<TD><input type=checkbox name="UpdateTicket<%$Ticket->Id%>" CHECKED></TD>
%# The ticket view is controlled by config.pm, WebOptions
%foreach my $col (@cols) {
<TD>
% if ($col eq 'id') {
<A HREF="<% $RT::WebPath%>/Ticket/Display.html?id=<%$Ticket->Id%>"><%$Ticket->Id()%></A>
% }
%else {
<% eval "\$Ticket->$col()" %>&nbsp;
%}
</TD>
%}
</TR>
%}



</TABLE>

<HR>


<& /Elements/TitleBoxStart, title => loc('Update selected tickets') &>
<TABLE>
<TR>
<TD VALIGN=TOP>
<UL>
<li><&|/l&>Make Owner</&> <& /Elements/SelectOwner, Name => "Owner" &>
(<input type=checkbox name="ForceOwnerChange"> <&|/l&>Force change</&>)
<li> <&|/l&>Add Requestor</&> <INPUT Name="AddRequestor" SIZE=20>
<li> <&|/l&>Remove Requestor</&> <INPUT Name="DeleteRequestor" SIZE=20>
<li> <&|/l&>Add Cc</&> <INPUT Name="AddCc" SIZE=20>
<li> <&|/l&>Remove Cc</&> <INPUT Name="DeleteCc" SIZE=20>
<li> <&|/l&>Add AdminCc</&> <INPUT Name="AddAdminCc" SIZE=20>
<li> <&|/l&>Remove AdminCc</&> <INPUT Name="DeleteAdminCc" SIZE=20>
</UL>
</TD>
<TD VALIGN=TOP>
<UL>
<li> <&|/l&>Make subject</&> <INPUT Name="Subject" SIZE=20>
<li> <&|/l&>Make priority</&> <INPUT Name="Priority" SIZE=4>
<li> <&|/l&>Make queue</&> <& /Elements/SelectQueue, Name => "Queue" &>

<li><&|/l&>Make Status</&> <& /Elements/SelectStatus, Name => "Status" &>



<li> <&|/l&>Make date Starts</&> <& /Elements/SelectDate, Name => "Starts_Date", ShowTime => 0, Default => '' &>
<li> <&|/l&>Make date Started</&> <& /Elements/SelectDate, Name => "Started_Date", ShowTime => 0, Default => '' &>
<li> <&|/l&>Make date Told</&> <& /Elements/SelectDate, Name => "Told_Date", ShowTime => 0, Default => '' &>
<li> <&|/l&>Make date Due</&> <& /Elements/SelectDate, Name => "Due_Date", ShowTime => 0, Default => '' &>
<li> <&|/l&>Make date Resolved</&> <& /Elements/SelectDate, Name => "Resolved_Date", ShowTime => 0, Default => '' &>
</UL>


</TD>
</TR>
</TABLE>





<& /Elements/TitleBoxEnd &>

<& /Elements/Submit &>


</FORM>
<%INIT>

# Iterate through the ARGS hash and remove anything with a null value.
map ($ARGS{$_} =~ /^$/ && (delete $ARGS{$_}), keys %ARGS);

my ($bgcolor, @results);
my @cols = qw(id Status Priority Subject QueueObj->Name OwnerObj->Name RequestorAddresses DueAsString );

Abort("No search to operate on") unless ($session{'tickets'});

#Iterate through each ticket we've been handed

while (my $Ticket = $session{'tickets'}->Next) {
    $RT::Logger->debug( "Checking Ticket ".$Ticket->Id ."\n");
    next unless ($ARGS{"UpdateTicket".$Ticket->Id});
    $RT::Logger->debug ("Matched\n");
    #Update the basics.
    my @basicresults = ProcessTicketBasics(TicketObj => $Ticket, ARGSRef => \%ARGS);
    my @dateresults = ProcessTicketDates(TicketObj => $Ticket, ARGSRef => \%ARGS);
    #Update the watchers
    my @watchresults = ProcessTicketWatchers(TicketObj => $Ticket, ARGSRef => \%ARGS);    
    
    
    my @tempresults = (@watchresults, @basicresults, @dateresults);
    @tempresults = map { "Ticket ".$Ticket->Id. ": ".$_ } @tempresults;

    @results = (@results, @tempresults);
}

</%INIT>
