#main-navigation {
    background-color: #fff;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    width: 10em;
    font-size: 0.85em;
    position: absolute;
    top: 6.2em;
    left: 0em;
    z-index: 9997;
    padding-top: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#main-navigation ul  {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 8px; /* not em, since our font size reduces */
    border-left: 1px solid #ccc;
    margin-top: 0.2em;
    padding-top: 0.2em;

    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
}

#main-navigation {
    text-color: #000;
}

#main-navigation li ul {
    font-size: 0.9em;
}

#main-navigation li ul ul {
    font-size: 1em;
}

#main-navigation li:first-child {
}

#main-navigation li:last-child {
    border-bottom: none;
}


#main-navigation a,
#main-navigation a:visited {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: #000;
    border: none;
}

#main-navigation li {
}


#main-navigation ul a,
#main-navigation ul a:visited {
    color: #000;
}


#main-navigation li li, #main-navigation li li li {
    border-left: none;
    background-color: #fff;
    text-color: #547CCC;
}

#page-navigation {
    position: absolute;
    top: 6em;
    right: 0em;
    font-size: 0.9em;
    background-color: #eee;
    border: 1px solid #ccc;
    -moz-border-radius-bottomleft: 0.5em;
    -webkit-border-bottom-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    padding: 0;
    padding-top: 0.5em;
    padding-right: 0.5em;
    width: 60%;
    text-align: right;
}

#page-navigation ul {
    list-style-type: none;
    padding: 0;
    padding-left: 0.3em;
    display: inline;
}

#page-navigation li {
    display: inline;
    padding: 0.3em;
}
#page-navigation li.has-children>a {
    display: none;
}

#page-navigation {
    margin: 0;
}

#topactions {
 position: absolute;
 background: transparent;
 top: 3.2em;
 right: 0.7em;
 width: auto;
 min-width: 42em;
 font-size: 0.9em;
 z-index: 99;
}

#topactions form * {
    vertical-align: top;
}

#topactions button, #topactions select, #topactions input {
 padding-top: 0em;
 padding-bottom: 0em;
 width: 8em;
}

#topactions .asset-search input,
#topactions .article-search input {
 width: 16em;
}

#topactions #simple-search .field{
 margin-left: 1em;
 color: #787;
 }

#topactions #simple-search .field:focus {
 color: #000;
 }

#topactions input.field {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#topactions input.select-queue {
    border: none;
}

