<& /Admin/Elements/Header, Title => 'Edit keywords' &>
<& /Admin/Elements/SystemTabs &>
<& /Elements/ListActions, actions => \@actions &>

<& /Elements/TitleBoxStart, title => $description &>
  
  <FORM METHOD=POST>

% if ($KeywordSelects->Count > 0 ) {
<TABLE>
<TR>
<TD>Delete
</TD>
<TD>
</TR>
% while (my $keywordselect = $KeywordSelects->Next ) {
<TR>
<TD>
<INPUT TYPE="CHECKBOX" NAME="DeleteKeywordSelect-<%$keywordselect->Id%>">
</TD>
<TD>
<B><% $keywordselect->Name %></B>:
% if ($keywordselect->Single) {
Single
% } else {
Multiple
% }
	    children of
	    <% $keywordselect->KeywordObj->Path %>
% if ($keywordselect->Depth) {
	    up to <%$keywordselect->Depth%> levels deep.
% }
</TD>
</TR>
% }
</TABLE>
% }

Add a keyword selection to this queue:
<ul>
	<li>Name: <input size=10 name="Name">
	  <select name="Single">
	    <option value='1'>Single</option>
	    <option value='0'>Multiple</option>
	  </select>
	  children of
	  <& /Elements/SelectKeyword, root => '0', name => 'Keyword' &>
	  up to <input name="Depth" size=2> levels deep.
	</li>
      </ul>
<& /Elements/TitleBoxEnd &>
<& /Elements/Submit &>
</FORM>
<%init>
my (@actions, $description);

my $KeywordSelects = new RT::KeywordSelects ($session{'CurrentUser'});
  
  unless ($KeywordSelects->LimitToGlobals()) {
  Abort("Couldn't load KeywordSelects.");
  }


    $description = "Modify global Keyword selections";



if (($Keyword) && ($Keyword ne '' )){
  my $NewKeywordSelect = new RT::KeywordSelect($session{'CurrentUser'});
    

  my $retval = $NewKeywordSelect->Create ( Keyword => $Keyword,
                                           ObjectField => 'Queue',
                                           ObjectType => 'Ticket',
                                           ObjectValue => 0,
                                           Name => $Name,
                                           Single => $Single,
					   Depth => $Depth,
                                            );
    if (defined $retval) {
        push @actions, "KeywordSelect added across all queues";
    }
    else {
        push @actions, "KeywordSelect could not be added to queue";
    }
}

# {{{ deal with modifying and deleting existing scrips
my ($key);
foreach $key (keys %ARGS) {
    # {{{ if we're trying to delete the keywordselect
    if ($key =~ /^DeleteKeywordSelect-(\d+)/) {
	my $id = $1;
	my $keywordselect = new RT::KeywordSelect($session{'CurrentUser'});
	$keywordselect->Load($id);
	$keywordselect->Delete();
    }

  # }}}
  
    
}
# }}}
</%init>

<%ARGS>

$Keyword => undef
$Single => undef
$Depth => undef
$Name => undef
</%ARGS>
