#header {
    clear: both;
    margin: 0 0.75em 0 0.75em;
    padding-top: 1em;
}

#header h1 {
    margin: 0;
    padding: 0;
    color: #930;
    display: inline;
    position: relative;
    font-size: 2em;
    font-weight: bold;
    left: 1.3em;
    top: 0.15em;
    z-index: 3;
}

#header ul {
    margin: 0;
    padding: 0;
    color: #eee;
    float: left;
}

#header #page-menu {
    position: relative;
    z-index: 2;
    background: #069 url(<%RT->Config->Get('WebImagesURL')%>/css/ct.gif) no-repeat top left;
    min-width: 65%;
}

%# This is an interesting bit of CSS.  expression() is an IE-only extension to
%# it's CSS implementation.  Just in case other browsers might choke on it,
%# the rule is enclosed in a selector only IE will (wrongly) match to an element.
%# 
%# The expression() function takes Javascript, and basically what it's doing here
%# is checking to see if the width of the menu would be greater than 65% of the body
%# width.  If it is, great, leave it alone to automatically resize.  If it is not, set
%# it to 65% of the body width.  This amounts to emulating the min-width rule that
%# compliant browsers understand above.
* html #header ul#page-menu {
    width: expression(document.body.clientWidth*0.65 < document.getElementById('page-menu').clientWidth ? "auto" : "65%");
    overflow: visible;
}

#page-menu div {
    position: relative;
    z-index: 3;
}

#page-menu div { background: url(<%RT->Config->Get('WebImagesURL')%>/css/cb.gif) no-repeat bottom left; }
#page-menu div div { background: url(<%RT->Config->Get('WebImagesURL')%>/css/cbr.gif) no-repeat bottom right; }
#page-menu div div div {
    background: url(<%RT->Config->Get('WebImagesURL')%>/css/ctr.gif) no-repeat top right;
    padding: 0.2em 1em 0.4em 1em;
}

#page-menu.actions-present div div { background: url(<%RT->Config->Get('WebImagesURL')%>/css/cbr-b2lb.gif) no-repeat bottom right; }
#page-menu.actions-present div div div { background: url(<%RT->Config->Get('WebImagesURL')%>/css/ctr-b2lb.gif) no-repeat top right; }

#header ul li {
    display: inline;
}

#header #actions-menu {
    position: relative;
    background: #08c;
}

#actions-menu div {
    position: relative;
    z-index: 2;
}

/*#actions-menu div { background: url(<%RT->Config->Get('WebImagesURL')%>/css/cb.gif) no-repeat bottom left; }*/
#actions-menu div div { background: url(<%RT->Config->Get('WebImagesURL')%>/css/cbr.gif) no-repeat bottom right; }
#actions-menu div div div {
    background: url(<%RT->Config->Get('WebImagesURL')%>/css/ctr.gif) no-repeat top right;
    padding: 0.2em 1em 0.4em 1em;
}

#header :link,
#header :visited
{
    color: white;
    text-decoration: none;
}

#header :link.selected,
#header :visited.selected,
#header :link:hover,
#header :visited:hover
{
    color: #fc6; /*#ff6;*/
}

#header :link.selected,
#header :visited.selected
{
    font-weight: bold;
    text-decoration: underline;
}

