#login-box {
    width: 50%;
    margin: 0 auto 4em auto;
}

%# More rules only IE will recognize (but are still valid!) to correct for
%# IE's incorrect handling of auto margins and the W3C defined behavior.
%# text-align will affect a block element in IE, therefore centering it, like
%# left and right auto margins *should*
* html #login-box {
    text-align: center;
}

%# ... and align the text back the way it should be
* html #login-box .titlebox {
    text-align: left;
}

#login-box .input-row {
    padding: 0.5em;
}

#login-box .input-row .label {
    width: 8em;
    float: left;
    text-align: right;
    padding: 0.2em 1em 0 0;
}

#login-box .input-row .input {
    float: left;
}

#login-box .button-row {
    clear: both;
    padding: 0.5em;
    float: right;
}
