#quickbar #quick-personal {
    display: inline;
    color: #888;
    padding: 0.5em 1em 0 0;
    float: right;
}

#quickbar #quick-personal span {
    font-weight: bold;
}

#quickbar #quick-personal :link,
#quickbar #quick-personal :visited
{
    color: #888;
    font-weight: bold;
}

#quickbar #quick-personal :link:hover,
#quickbar #quick-personal :visited:hover
{
    color: black;
}

#quickbar #topactions {
    float: right;
    clear: right;

    font-size: 0.9em;
    padding: 1em;
}

#quickbar #topactions form {
    display: inline;
    margin-left: 1em;
}

#quickbar #topactions form .button {
    padding: 0 2px 0 2px;
    font-size: 1em;
    margin: 0;
}

#quickbar #topactions form .field {
    padding: 1px;
    font-size: 0.9em;
}

#quickbar #topactions form input.field {
    padding: 3px;
}
