.titlebox {
    margin-bottom: 1em;
}

.titlebox .titlebox-content {
    margin-top: -1px;
    padding: 1em 2em 0.5em 2em;
    margin: 0;
    /*margin: 1em 2em 0.5em 2em;*/
}

%# TRS: I wish there was a more elegant way to do this... I essentially need to
%# select all elements X that do NOT have element Y as a descendant... which I can
%# fake with the child selector of CSS2, but IE is stupid and does not support that.

% for (qw(index
%         Search-Build
%         User-Prefs
%         Approvals
%         Admin-Users-Modify
%         SelfService
%         SelfService-Closed
%                           ))
% {
#comp-<%$_%> .titlebox .titlebox-content,
% }
.titlebox .titlebox .titlebox-content
{
    background: #eee;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 0.5em solid #069;
}

#login-box .titlebox .titlebox-content
{
    background: inherit;
    border: none;
}

.titlebox .titlebox-title {
    position: relative;
    font-weight: bold;
    color: #930;
    font-size: 1.2em;
    padding: 0.2em 0 0.2em 4em;
    border-bottom: 1px solid #069;
}

.titlebox .titlebox-title .right {
    position: absolute;
    top: 0.5em;
    right: 1.5em;
    font-size: 0.9em;
    color: #888;
}

.titlebox .titlebox-title .right .selected { color: #930; }

#body .titlebox .titlebox-title .right :link,
#body .titlebox .titlebox-title .right :visited {
    color: #888;
}

#body .titlebox .titlebox-title .right :link:hover,
#body .titlebox .titlebox-title .right :visited:hover {
    color: #930;
}

.titlebox .titlebox-title .widget a {
  display: block;
  padding-top: 1em;
  width: 20px;

  background: url(<%$RT::WebImagesURL%>/css/rollup-arrow.gif) no-repeat center center;
  
  margin: 0;
  text-indent: -9999px;

  position: absolute;
  top: 0.4em;
  left: 0.75em;
  float: left;

%# Basically IE5 will see those crazy backslashes and prematurely end the rule.
%# This allows values for IE 5's broken box model to be set before the hack and
%# the real values to be set after.  We also set voice-family back to whatever it
%# would have been on the off chance it's actually used.
  /* WIN IE5 hack */
  height: 7px;
  voice-family: "\"}\"";
  voice-family: inherit;
  height: 0;
  overflow: hidden;
}

%# IE also doesn't support the child selector ">", so we can use it to set values
%# that only other browsers will see (in this case, playing nice with Opera, which
%# also suffers from the backslash hack above.)
html>body .titlebox .titlebox-title .widget a {
    height: 0;
    overflow: hidden;
}

%# Compensates for IE's bad box model by hiding this rule from other browsers
* html .titlebox .titlebox-title .widget a {
    background-position: center 0.3em;
    left: -3.5em;
}

.titlebox.rolled-up .titlebox-title .widget a {
    background-image: url(<%$RT::WebImagesURL%>/css/rolldown-arrow.gif);
}

#body .titlebox .titlebox-title :link,
#body .titlebox .titlebox-title :visited
{
    color: #930;
    text-decoration: none;
}

#body .titlebox .titlebox-title :link:hover,
#body .titlebox .titlebox-title :visited:hover
{
    text-decoration: underline;
}
