%# $Header$
%# Copyright 1996-2000 Jesse Vincent <jesse@fsck.com> & Tobias Brox <tobix@fsck.com>

<& /Elements/Header, Title => "Create a request" &>
<& /Elements/Tabs &>
<FORM ACTION="Display.html" METHOD="POST">
<INPUT TYPE=HIDDEN Name="id" VALUE="new">
<INPUT TYPE=HIDDEN Name="queue" VALUE="<%$Queue->Id%>">
<& /Elements/TitleBoxStart, contentbg => "#cccccc", title => "Create a new ticket in queue \"".$Queue->QueueId.'"' &>

<TABLE>
<TR>
<TD>
Owner: 
</TD>
<TD>
<& /Elements/SelectOwner, Name => "ValueOfOwner", Queue=>$Queue->Id &>
</TD>
</TR>
<TR>
<TD>
Relationships
</TD>
<TD>
<TABLE>
<TR>
<TD>
Depended on by:<BR><input size=5 name="DependsOn" value="<% $DependsOn %>">
</TD>
<TD>
Depends on:
<BR>
<input size=5 name="DependedOnBy" value="<% $DependedOnBy %>">
</TD>
<TD>Subticket of:<BR>
<input size=5 name="MemberOf" value="<% $MemberOf %>">
</TD>
</TR>
</TABLE>
</TD>
</TR>
<TR>
<TD>
Requestors: 
</TD>
<TD>
<INPUT Name="Requestors" Value="<%$session{CurrentUser}->EmailAddress%>" SIZE=20>
</TD>
</TR>
<TR>
<TD>
Cc:
</TD>
<TD>
 <INPUT NAME="Cc" SIZE=20>
</TD>
</TR>
<TR>
<TD>Status:
</TD>
<TD>
<& /Elements/SelectStatus, Name => "Status", Default=> 'open' &>
</TD>
</TR>
<TR>
<TD>
Subject:
</TD>
<TD COLSPAN=3>
<INPUT Name="Subject" SIZE=60 MAXSIZE=100 value="">
</TD>
</TR>

<TR>
<TD>
Attach file:
</TD>
<TD>
<INPUT TYPE=FILE NAME="Attachment">
</TD>
</TR>
<TR>
<TD COLSPAN=2>
Describe the issue below:<br>
<& /Elements/MessageBox, QuoteTransaction => $QuoteTransaction &>

<BR>
</TD>
</TR>
<TR>
<TD ALIGN=RIGHT COLSPAN=2>
</TD>
</TR>
</TABLE>
<& /Elements/TitleBoxEnd &>
<& /Elements/Submit, Label => "Create ticket"&>


</FORM>



<%INIT>
require RT::Queue;
require RT::Ticket;
require RT::Link;

my $Queue = RT::Queue->new($session{'CurrentUser'});
my $result = $Queue->Load($ARGS{'Queue'}) ;
if (!$result) {
 &mc_comp("/Elements/Error", Why=> "Queue '$ARGS{'Queue'}' unknown"); 
$m->abort;}






</%INIT>
<%ARGS>

$DependsOn => undef
$DependedOnBy => undef
$MemberOf => undef
$QuoteTransaction => undef
$id => undef
</%ARGS>
