%# $Header$
%# Copyleft 1996-2000 Jesse Vincent <jesse@fsck.com> & Tobias Brox <tobix@fsck.com>

<& /Elements/Header, Title => "Create request" &>

<FORM METHOD=POST ACTION="Create_Detail.html">

<& /Elements/TitleBoxStart, contentbg => "#cccccc", title => "What queue should the new request be putted into?" &>
<& /Elements/SelectQueue, Name=>"Queue", Default=>$session{'LastQueue'}&>
<& /Elements/TitleBoxEnd &><BR><BR>

%# LINKING
%# I'd like to have it here, rather than at the next page, because it
%# might be that we'd like to draw the subject and message into the
%# create dialogue.  I'll explain better later.
<& /Elements/TitleBoxStart, contentbg => "#cccccc", title => "Should the new request be linked up somehow?" &>
%if ($QuoteTransaction) {
<input type="hidden" name="QuoteTransaction" value=<%$QuoteTransaction%>>
% }
<input type="radio" name="Link" value="" CHECKED>The new ticket should be independent.<BR><BR>
<input type="radio" name="Link" value="DependsOn">Ticket(s) <input name="LinkFrom" value="<% $id %>"> should depend on the new ticket<BR><BR>
<input type="radio" name="Link" value="MemberOf">Ticket(s) <input name="LinkFrom" value="<% $id %>"> should be a member of the new ticket<BR><BR>
<input type="radio" name="Link" value="ParentOf">The new ticket is a member of ticket <input name="LinkFrom" value="<% $id %>"><BR><BR>
<& /Elements/TitleBoxEnd &>

<FORM>
<INPUT TYPE=SUBMIT VALUE="Next">


<%ARGS>
$id => undef
$QuoteTransaction => undef
</%ARGS>