
<& /Elements/Header, Title=>"Update Ticket ".$Ticket->Id.": ".$Ticket->Subject  &>
<& /Elements/Tabs &>
<& /Elements/TitleBoxStart, title => 'Update ticket '.$Ticket->Id &>

<FORM ACTION="Display.html" METHOD=POST>

<TABLE>
<TR>
<TD VALIGN=TOP ALIGN=RIGHT>Interested Parties
</TD>
<TD>
<ul>
<li>	Requestor: <% $Ticket->RequestorsAsString %> 
<li>	Cc: <% $Ticket->CcAsString %>
<li>	AdminCc: <% $Ticket->AdminCcAsString %> 
</ul>
</TD>
</TR>
</TABLE>

Status:
<& /Elements/SelectStatus, Name=>"SetStatus", Default => $Ticket->Status() &> 

Owner:  
<& /Elements/SelectOwner, Name=>"SetOwner", Default => $Ticket->OwnerObj->Id(), Queue => $Ticket->QueueObj &>


Time Worked: 
<input size=4 name="UpdateTimeWorked"> minutes<br>
<hr>
Update Type: <select name="UpdateType">
	    <option value="private" <%$CommentDefault%>>Comments (Not sent to requestors)</option>
	    <option value="response" <%$ResponseDefault%>>Response to requestors</option>
	  </select> 
	  <br>

Subject: <input name="UpdateSubject" size=60 value="Re: <% $Ticket->Subject %>"> <br>
<& /Elements/MessageBox, Name=>"UpdateContent", QuoteTransaction=>$ARGS{QuoteTransaction} &>
		<INPUT TYPE=HIDDEN NAME=id VALUE="<%$Ticket->Id%>"><br>

<& /Elements/Submit &>
</FORM>

<& /Elements/TitleBoxEnd &>




<%INIT>

## Things needed in the template - we'll do the processing here, just
## for the convinience:

my $CommentDefault=$Action eq "Comment" ? "SELECTED" : "";
my $ResponseDefault=$Action eq "Respond" ? "SELECTED" : "";

use RT::Ticket;
my $Ticket=RT::Ticket->new($session{'CurrentUser'});
$Ticket->Load($ARGS{'id'}) || Abort ("Couldn't load ticket.");
</%INIT>

<%ARGS>

$Action => undef
</%ARGS>
