<&| /Admin/Elements/Header, title => $title &>

<& /Elements/Tabs,
    title       => $title,
    current_tab => 'Admin/Global/Workflows/index.html',
&>

<& /Elements/ListActions, actions => \@results &>

<table>
<tr><th><% _('Schema') %></th><th><% _('Statuses') %></th><th><% _('Queues') %></th></tr>
% foreach my $schema ( @list ) {
% my $obj = RT::Workflow->load( $schema );
<tr>
<td><a href="<% RT->config->get('web_path') %>/Admin/Global/Workflows/Summary.html?<% $m->comp( '/Elements/QueryString', name => $schema ) %>"><% $schema %></a></td>
<td><% join ', ', map _($_), $obj->valid %></td>
<td><% join ', ', map $_->name, @{ $obj->queues->items_array_ref } %></td>
% }
</table>

<form action="<% RT->config->get('web_path') %>/Admin/Global/Workflows/index.html" method="post">

Workflow name: <input name="name" value="" /><br />

<& /Elements/Submit, caption => _('Create a new workflow'), label => _('Create'), name => 'create' &>
</form>

</&>

<%INIT>
my $title = _("Modify system workflows");

use RT::Workflow;
my @list = RT::Workflow->new->list;

my @results;
if ( $create ) {
    my $schema = new RT::Workflow;
    my ($status, $msg) = $schema->create( name => $name );
    push @results, $msg if $msg;
    if ( $status ) {
        Jifty->web->redirect(
            RT->config->get('web_path')
            . '/Admin/Global/Workflows/Modify.html?'
            . $m->comp( '/Elements/QueryString', name => $schema->name )
        );
    }
}

</%INIT>
<%ARGS>
$name => undef
$create => undef 
</%ARGS>
