<&| /Admin/Elements/Header, title => $title &>

<& /Elements/Tabs,
    title       => $title,
    schema      => $schema,
    current_tab => 'Admin/Global/Workflows/Interface.html',
&>

<& /Elements/ListActions, actions => \@results &>

<form action="<% RT->config->get('web_path') %>/Admin/Global/Workflows/Interface.html" method="post">
<input type="hidden" name="name" value="<% $name %>" />

<&| /Widgets/TitleBox, title => _('Transition labels') &>
<table>
<tr><th><% _('From') %></th><th>&nbsp;</th><th><% _('To') %></th><th><% _('Label') %></th></tr>
% foreach my $from ( @valid ) {
% my @next = $schema->transitions( $from );
<tr><td rowspan="<% @next +0 %>"><% _($from) %></td><td rowspan="<% @next +0 %>">&rarr;</td>
% foreach my $to ( @next ) {
% $m->out('<tr>') if $to ne $next[0];
<td><% _($to) %></td>
<td><input type="text" name="<% $from .'->(tl)->'. $to %>" value="<% $schema->transition_label( $from => $to ) %>" /></td></tr>
% }
<tr><td colspan="4">&nbsp;</td></tr>
% }
</table>
</&>

<&| /Widgets/TitleBox, title => _('Ticket actions on transitions') &>
<table>
<tr><th><% _('From') %></th><th>&nbsp;</th><th><% _('To') %></th><th><% _('Action') %></th></tr>
% foreach my $from ( @valid ) {
% my @next = $schema->transitions( $from );
<tr><td rowspan="<% @next +0 %>"><% _($from) %></td><td rowspan="<% @next +0 %>">&rarr;</td>
% foreach my $to ( @next ) {
% $m->out('<tr>') if $to ne $next[0];
% my $cur = $schema->transition_action( $from => $to );
<td><% _($to) %></td>
<td><select name="<% $from .'->(ta)->'. $to %>">
<option value="" <% $cur? '': 'selected="selected"' |n %>><% _('no action') %></option>
<option value="hide" <% $cur eq 'hide'? 'selected="selected"': '' |n %> ><% _('hide') %></option>
<option value="comment" <% $cur eq 'comment'? 'selected="selected"': '' |n %> ><% _('comment') %></option>
<option value="respond" <% $cur eq 'respond'? 'selected="selected"': '' |n %> ><% _('correspond') %></option>
</select></td>
</tr>
% }
<tr><td colspan="4">&nbsp;</td></tr>
% }
</table>
</&>

<& /Elements/Submit, label => _('Update'), name => 'update' &>
</form>

</&>

<%INIT>
my $title = _("Modify transitions for schema '%1'", $name);

use RT::Workflow;
my $schema = RT::Workflow->new->load( $name );
unless ( $schema ) {
    Jifty->web->redirect(
        RT->config->get('web_path')
        . '/Admin/Global/Workflows/index.html'
    );
}

my @valid = $schema->valid;

my @results;
if ( $update ) {
    my %tmp = ();
    foreach my $from ( @valid ) {
        foreach my $to ( @valid ) {
            next if $from eq $to;
            $tmp{ $from .' -> '. $to }[0] = $ARGS{ $from .'->(tl)->'. $to };
            $tmp{ $from .' -> '. $to }[1] = $ARGS{ $from .'->(ta)->'. $to };
        }
    }
    my ($status, $msg) = $schema->set_actions( %tmp );
    push @results, $msg if $msg;
}

</%INIT>
<%ARGS>
$name => undef
$update => undef
</%ARGS>
