#login-box .titlebox-title .left {
    padding-left: 0em
}

#login-box .input-row .label {
    width: 10.5em
}

#login-box div.button-row {
    padding-right: 0;
    margin-top: 1em;
}

#login-box .button {
    margin-right: -1em;
}
