.titlebox-title.inverse .widget a,
.ticket-info-cfs .titlebox-title .widget a,
.ticket-info-basics .titlebox-title .widget a,
.ticket-info-people .titlebox-title .widget a,
.ticket-info-requestor .titlebox-title .widget a,
.ticket-info-links .titlebox-title .widget a,
.ticket-info-merge .titlebox-title .widget a,
.ticket-info-reminders .titlebox-title .widget a,
.ticket-info-dates .titlebox-title .widget a,
.ticket-info-attachments .titlebox-title .widget a {
    background-position: center -7px
}

.titlebox-title.inverse,
.ticket-info-cfs .titlebox-title,
.ticket-info-basics .titlebox-title,
.ticket-info-people .titlebox-title,
.ticket-info-requestor .titlebox-title,
.ticket-info-links .titlebox-title,
.ticket-info-merge .titlebox-title,
.ticket-info-reminders .titlebox-title,
.ticket-info-dates .titlebox-title,
.ticket-info-attachments .titlebox-title {
    margin-left: 1em
}

.titlebox-title.inverse  .left,
.ticket-info-cfs .titlebox-title  .left,
.ticket-info-basics .titlebox-title  .left,
.ticket-info-people .titlebox-title  .left,
.ticket-info-requestor .titlebox-title  .left,
.ticket-info-links .titlebox-title  .left,
.ticket-info-merge .titlebox-title  .left,
.ticket-info-reminders .titlebox-title  .left,
.ticket-info-dates .titlebox-title  .left,
.ticket-info-attachments .titlebox-title  .left {
    padding-left: 2.25em;
    margin-left: 0;
    padding-bottom: 4px;
    margin-bottom: 8px;
    -webkit-border-top-left-radius: 0.3em;
    -webkit-border-top-right-radius: 0.3em;
    -moz-border-radius-topleft: 0.3em;
    -moz-border-radius-topright: 0.3em;
    border-radius: 0.3em 0.3em 0 0;
}

.titlebox-title.inverse .left,
.titlebox-title.inverse .left a {
    color: #fff;
}

.titlebox.ticket-info-reminders table {
    width: 100%
}

.titlebox.ticket-info-reminders table form {
    display: inline-block;
    width: 100%;
}

/* don't put a background on the outer titlebox */

.summary>div>.titlebox>.titlebox-content {
    background: none
}

tr.edit-custom-field.cftype-IPAddress input,
tr.edit-custom-field.cftype-IPAddressRange input {
    width: 24em;
}

tr.edit-custom-field.cftype-IPAddress textarea,
tr.edit-custom-field.cftype-IPAddressRange textarea {
    width: 24em;
}